


.ftr-top-inr{
	padding-top: 80px;
	padding-bottom: 80px;
	border-top: 2px solid #F1E8E1;
}


.ftr-logo-ctlr{
	float: left;
	width: 25.5244%;
	padding-right: 20px;
}
.ftr-menu{
	float: left;
	padding-right: 20px;
}
.ftr-col-1{
	width: 16.0839%;
}
.ftr-col-2{
	width: 15.7342%;
}
.ftr-col-3{
	width: 17.8321%;
}
.ftr-col-4{
	width: 24.8251%;
}

.ftr-logo{
	margin-bottom: 40px;
}
.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
}

.ftr-social-media ul{
	margin-left: -13px;
	margin-right: -13px;
}
.ftr-social-media ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 13px;
	padding-right: 13px;
}
.ftr-social-media ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #525A61;
}
.ftr-social-media ul li a:hover{
	color: #EC5387;
}

.ftr-menu-title{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #31304F;
	margin-bottom: 35px;
	font-family: 'Open Sans', sans-serif;
}

.ftr-menu-des ul li{
	padding-bottom: 25px;
}
.ftr-menu-des ul li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #525A61;
	text-transform: uppercase;
}
.ftr-menu-des ul li a:hover{
	color: #EC5387;
}

.ftr-location,
.ftr-email,
.ftr-phone{
	margin-bottom: 20px;
}
.ftr-location a,
.ftr-email a,
.ftr-phone a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #525A61;
}
.ftr-location a:hover,
.ftr-email a:hover,
.ftr-phone a:hover{
	color: #EC5387;
}


.ftr-middle-inr{
	background: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.ftr-middle-inr ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 25px;
	padding-right: 25px;
}
.ftr-middle-inr ul li a{
	display: inline-block;
	vertical-align: baseline;
}


.ftr-btm-inr{
	display: flex;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.ftr-btm-menu{
	margin-left: auto;
	margin-right: auto;
}

.ftr-copywrite p{
	margin-bottom: 0;
}

.ftr-btm-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 9px;
	padding-right: 9px;
	position: relative;
}
.ftr-btm-menu ul li:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	width: 4px;
	height: 1px;
	background: #525A61;
}
.ftr-btm-menu ul li:first-child:after{
	content: none;
}
.ftr-btm-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #525A61;
}
.ftr-btm-menu ul li a:hover{
	color: #EC5387;
}

.ftr-designby a{
	display: inline-block;
	vertical-align: baseline;
	color: #525A61;
}
.ftr-designby a:hover{
	color: #EC5387;
}


@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {
	
}

@media(max-width: 1399px){
	.ftr-copywrite p,
	.ftr-btm-menu ul li a,
	.ftr-designby a{
		font-size: 14px;
	}
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ftr-logo-ctlr{
		width: 27%;
	}
	.ftr-col-1 {
	    width: 15%;
	}
	.ftr-col-3 {
	    width: 16%;
	}
	.ftr-copywrite p, 
	.ftr-btm-menu ul li a, 
	.ftr-designby a {
	    font-size: 13px;
	}

}

@media(max-width: 991px){
	.ftr-top-inr {
	    padding-top: 60px;
	    padding-bottom: 60px;
	}
	.ftr-logo-ctlr {
	    width: 28%;
	}
	.ftr-col-1 {
	    width: 16%;
	}
	.ftr-col-2 {
	    width: 15.7342%;
	}
	.ftr-col-3 {
	    width: 14%;
	}
	.ftr-col-4 {
	    width: 24.8251%;
	}
	.ftr-btm-inr {
	    display: block;
	    padding-top: 45px;
	    padding-bottom: 45px;
	    text-align: center;
	}
	.ftr-copywrite{
		margin-bottom: 5px;
	}
	.ftr-btm-menu{
		margin-bottom: 15px;
		padding-bottom: 15px;
		position: relative;
	}
	.ftr-btm-menu:after{
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		height: 3px;
		width: 27px;
		background: #fff;
	}
	.ftr-designby a{
		color: #C9C9C9;
	}
	.ftr-designby a strong{
		color: #31304F;
	}
	.ftr-copywrite p, 
	.ftr-btm-menu ul li a, 
	.ftr-designby a {
	    font-size: 14px;
	}
	
	
}

@media(max-width: 767px){
	.ftr-logo-ctlr,
	.ftr-col-1,
	.ftr-col-2,
	.ftr-col-3,
	.ftr-col-4{
		width: 100%;
		padding-right: 0;
		text-align: center;
	}

	.ftr-menu-title{
		display: inline-block;
		vertical-align: baseline;
		font-size: 12px;
		margin-bottom: 20px;
		position: relative;
	}
	.ftr-menu-title:after{
		content: "\f107"!important;
	    font-family: 'Font Awesome 5 Free';
	    font-weight: 600;
	    text-decoration: inherit;
	    color: #202020;
	    font-size: 16px;
	    padding-right: 0;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    right: -16px;
	    line-height: 15px;
	}
	.ftr-menu-title.active:after{
		content: "\f106"!important;
	}
	.ftr-menu-des{
		display: none;
	}
	.ftr-menu-des ul li {
	    padding-bottom: 18px;
	}
	.ftr-top-inr {
	    padding-top: 45px;
	    padding-bottom: 45px;
	}
	.xs-social-media{
		text-align: center;
	}
	.xs-social-media .ftr-social-media ul li {
	    padding-left: 8px;
	    padding-right: 8px;
	}
	.ftr-middle-inr ul li {
	    padding-left: 12px;
	    padding-right: 12px;
	}
	.ftr-middle-inr{
		position: relative;
	}
	.ftr-middle-inr:after{
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		height: 3px;
		width: 197px;
		background: #8CCC0C;
	}
	.ftr-vat{
		margin-bottom: 20px;
	}
	.ftr-logo {
	    margin-bottom: 35px;
	}
	.ftr-btm-inr {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
}

@media(max-width: 575px){
	.ftr-middle-inr ul li {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	

}

@media(max-width: 479px){
	.ftr-copywrite p, 
	.ftr-btm-menu ul li a, 
	.ftr-designby a {
	    font-size: 13px;
	}
	.ftr-middle-inr{
		margin-left: -15px;
		margin-right: -15px;
	}

}

@media(max-width: 359px){

}


