.breadcrumb-sec{
	margin-bottom: 50px;
}
.breadcrumb-cntlr{
	padding: 25px 0;
	padding-left: 32px;
	border-bottom: 1px solid #f1e8e1;
}
.breadcrumb-cntlr ul{
	display: flex;
	align-items: center;
	margin: 0 -21px;

}
.breadcrumb-cntlr ul li{
	padding: 0 21px;
	position: relative;
}
.breadcrumb-cntlr ul li:after{
	position: absolute;
	content: "";
	right: 0;
	top: 50%;
	transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	-webkit-transform: translate(50%,-50%);
	-o-transform: translate(50%,-50%);
	height: 2px;
	width: 15px;
	background: #31304f;
	margin-top: 1px;
}
.breadcrumb-cntlr ul li:last-child:after{
	content: none;
}
.breadcrumb-cntlr ul li a,
.breadcrumb-cntlr ul li span,
.breadcrumb-cntlr ul li a span{
	font-size: 14px;
	line-height: 1;
	color: #525A61;
	display: inline-block;
	text-transform: capitalize;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.breadcrumb-cntlr ul li a:hover,
.breadcrumb-cntlr ul li span:hover,
.breadcrumb-cntlr ul li a span:hover,
.breadcrumb-cntlr ul li.active span{
	color: #EC5387;
}
.breadcrumb-cntlr ul li a{
	position: relative;
}
.breadcrumb-cntlr ul li a.fl-home-icon,
.breadcrumb-cntlr ul li:first-child a{
	padding-left: 23px;
}
.breadcrumb-cntlr ul li a.fl-home-icon:after,
.breadcrumb-cntlr ul li:first-child a:after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	background: url('../images/home-icon.svg');
	background-repeat: no-repeat;
	height: 17px;
	width: 15px;
	background-size: contain;
}


/*secrh-select-cntlr*/
.secrh-select-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
.fl-secrh{
	width: 342px;
	position: relative; 
}
.fl-secrh form{
	width: 100%;
}
.fl-secrh form input{
	width: 	100%;
	line-height: 1;
	background: #FFFFFF;
	border-radius: 6px;
	border: 1px solid #fff!important;
	padding: 13.5px 48px 13.5px 18px;
}
.fl-secrh form input:focus{
	border-color: #31304F!important;
	border-width: 1px!important;
}
.fl-secrh form input::placeholder {
	font-size: 14px;
	color: #9EA5AB;
	opacity: 1;
}

.fl-secrh form input:-ms-input-placeholder {
	font-size: 14px;
	color: #9EA5AB;
	opacity: 1;
}

.fl-secrh form input::-ms-input-placeholder {
	font-size: 14px;
	color: #9EA5AB;
	opacity: 1;
}
.fl-secrh form input:focus{
	border-color: #9EA5AB;
}
.fl-secrh form button{
	position: absolute;
	background: transparent;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	right: 18px;
	padding: 0;
	cursor: pointer;
	z-index: 5;
	margin-top: -2px;
}
.fl-secrh form button:hover i svg{
	fill: #EC5387;
}

.fl-select-cntlr{
	margin-left: auto;
	display: flex;
	align-items: center;
}
.fl-select-cntlr > span{
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	color: #525A61;
}
.fl-select{
	width: 120px;
}
.two-grid-module-cntlr{
	padding-top: 60px;
	padding-bottom: 55px;
	border-top: 2px solid #f7efec;
	overflow: hidden;
}
.two-grid-module-cntlr > div.two-grid-module-wrap{
	display: flex;
	margin: 0 -20px;
}
.two-grid-module-desc{
	padding: 0 20px;
	width: 50%;
}
.one-grid-module-desc{
	padding: 0 20px;
	width: 100%;
}

/*grd sec*/


.geschenken-overzitch-grd-ctlr ul{
	margin-left: -12px;
	margin-right: -12px;
}
.geschenken-overzitch-grd-ctlr ul li{
	float: left;
	width: 25%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 70px;
}
.geschenken-overzitch-grd-ctlr ul li:nth-child(4n+1){
	clear: left;
}
.geschenken-overzitch-grd-ctlr ul li .fl-pro-grd-img-cntlr{
	margin-bottom: 30px;
}

.geschenken-overzitch-grd-ctlr ul li .fl-product-grd .fl-pro-grd-title{
	margin-bottom: 7px;
	font-size: 18px;
}
.geschenken-overzitch-grd-ctlr ul li .fl-pro-grd-price{
	margin-bottom: 20px;
}
.geschenken-overzitch-grd-ctlr ul li > .fl-trnsprnt-btn{
	padding: 6px 23px;
}
.geschenken-overzitch-grd-ctlr ul li .fl-product-grd {
    padding: 15px 15px 28px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.geschenken-overzitch-grd-ctlr ul li .fl-product-grd-inr{
	padding-top: 35px;
}
.geschenken-overzitch-grd-ctlr ul li .fl-pro-absolute-text{
	width: 95px;
    height: 22px;
}

.geschenken-overzitch-grd-ctlr .fl-product-grd-hover{
	background: #31304F;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	padding: 0 25px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.fl-pro-grd-hover-title{
	color: #FDF8F5;
	letter-spacing: -0.02em;
	margin-bottom: 15px;
}
.geschenken-overzitch-grd-ctlr .fl-pro-hover-btn a.fl-trnsprnt-btn{
	border-color: #fff!important;
	color: #fff!important;
	padding: 6px 12px!important;
}
.geschenken-overzitch-grd-ctlr .fl-pro-hover-btn a.fl-trnsprnt-btn:hover{
	border-color: #EC5387!important;
}

.geschenken-overzitch-grd-ctlr ul li .fl-product-grd:hover .fl-product-grd-hover{
	visibility: visible;
	opacity: 1;
}



/*responsive*/
@media(max-width: 1199px){
	.geschenken-overzitch-grd-ctlr ul li{
		width: 33.3333%;
	}
	.geschenken-overzitch-grd-ctlr ul li:nth-child(4n+1) {
	    clear: none;
	}
	.geschenken-overzitch-grd-ctlr ul li:nth-child(3n+1) {
	    clear: left;
	}
}

@media(max-width: 991px){
	.breadcrumb-cntlr{
		padding: 20px 0;
	}
	.two-grid-module-cntlr > div.two-grid-module-wrap{
		margin: 0 -15px;
	}
	.two-grid-module-desc{
		padding: 0 15px;
	}
	.two-grid-module-cntlr{
		padding: 55px 0;
	}
	.geschenken-overzitch-grd-ctlr ul li:nth-child(3n+1) {
	    clear: none;
	}
	.geschenken-overzitch-grd-ctlr ul li:nth-child(2n+1) {
	    clear: left;
	}
	.geschenken-overzitch-grd-ctlr ul li {
	    width: 50%;
	}
	.geschenken-overzitch-grd-ctlr ul li{
		padding-bottom: 55px;
	}
}
@media(max-width: 767px){
	.breadcrumb-sec{
		display: none!important;
	}
	.secrh-select-cntlr{
		margin: 0 -15px;
		margin-bottom: 15px;
		border-bottom: 0;
	}
	.fl-secrh{
		max-width: 100%;
	}
	.fl-secrh-cntlr{
		padding: 14px 15px;
		background: #31304f;
		/*margin: 0 -15px;*/
		margin-bottom: 20px;
		width: 100%;
	}
	.fl-secrh form input {
		padding: 9.5px 48px 9.5px 18px;
	}
	.fl-select-cntlr{
		width: 100%;
		justify-content: flex-end;
		padding: 0 15px;
	}
	.two-grid-module-cntlr{
		padding: 45px 0;
	}
	.two-grid-module-cntlr > div.two-grid-module-wrap{
		margin: 0 -10px;
	}
	.two-grid-module-desc{
		padding: 0 10px;
	}
	.geschenken-overzitch-grd-ctlr ul li{
		padding-bottom: 40px;
	}
	.gift-overview-grd-sec .fl-pagi-cntlr {
	    padding-bottom: 30px;
	    padding-top: 15px;
	}
}

	@media(max-width: 575px){
		.two-grid-module-cntlr{
			padding: 45px 0;
			
		}
		.two-grid-module-cntlr > div.two-grid-module-wrap{
			margin: 0;
			flex-wrap: wrap;
		}
		.two-grid-module-desc{
			padding: 0;
			width: 100%;
		}
		.geschenken-overzitch-grd-ctlr .fl-pro-grd-price > span {
		    width: initial;
		}
		.geschenken-overzitch-grd-ctlr ul{
			margin-left: -8px;
    		margin-right: -8px;
		}
		.geschenken-overzitch-grd-ctlr ul li{
			padding-left: 8px;
			padding-right: 8px;
			padding-bottom: 20px;
		}
	}

@media(max-width: 479px){
	.geschenken-overzitch-grd-ctlr ul li .fl-product-grd{
		padding: 10px 10px 20px;
	}
	.geschenken-overzitch-grd-ctlr .fl-trnsprnt-btn {
	    padding: 9px 6px;
	    font-size: 10px;
	}
	.geschenken-overzitch-grd-ctlr ul li .fl-pro-grd-price {
	    margin-bottom: 15px;
	}
	.geschenken-overzitch-grd-ctlr ul li .fl-product-grd .fl-pro-grd-title {
	    margin-bottom: 15px;
	}
	.geschenken-overzitch-grd-ctlr ul li .fl-pro-grd-img-cntlr {
	    margin-bottom: 18px;
	}
}
