.header{
	position: relative;
	z-index: 10;
}
.header-cntlr{
	position: relative;
	padding-bottom: 25px;
}
.header-inr{
	display: flex;
	align-items: center;
}
.hdr-lft{

}
.logo{

}
.logo a{
	display: inline-block;
}
.hdr-rgt{
	margin-left: auto;
	display: flex;
	align-items: center;
}
.main-nav{
	padding-right: 38px;
}

nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	margin: 0 -21px;
	padding-top: 75px;
}
nav.main-nav > ul > li{
	padding: 0 21px;
	line-height: 1;
	position: relative;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1;
	color: #31304F;
	text-transform: uppercase;
	padding-bottom: 75px;
	position: relative;
}
nav.main-nav > ul > li.current-menu-item > a:after{
	position: absolute;
	content: "";
	left: 12px;
	bottom: 100%;
	margin-bottom: 5px;
	background-image: url('../images/hdr-leaf.svg');
	background-repeat: no-repeat;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	width: 27px;
	height: 16px;
}
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.menu-item-has-children:hover a{
	color: #EC5387;
}

nav.main-nav > ul > li.current-menu-item > a{
	font-weight: 700;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
	position: absolute;
	margin-top: -10px;
	top: 100%;
	left: 0;
	background: #fff;
	z-index: 15;
	width: 200px;
	padding: 0 2px 0 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transform: scale3d(1,0,1);
	-ms-transform: scale3d(1,0,1);
	-webkit-transform: scale3d(1,0,1);
	-o-transform: scale3d(1,0,1);
	transform-origin: top;
	opacity: 0;
	box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
	-ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
	-webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    padding: 10px 0 10px 10px;
    line-height: 1;
    display: block;
    position: relative;
    border-bottom: 1px solid #EC5387;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after {
    height: 100%;
    opacity: 1;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    opacity: 0;
    background: #EC5387;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
    display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1;
	color: #31304F;
	text-transform: uppercase;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a{
color: #EC5387;
}
nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}


.user-cart-cntlr{
	padding-left: 66px;
	position: relative;
	display: flex;
	align-items: center;
}
.hdr-user{
	padding-right: 28px;
}
.hdr-user a{
	display: inline-block;
}
.hdr-user a i{
	display: inline-block;
}
.hdr-user a:hover i svg{
	fill: #EC5387;
}
.hdr-user-title,
.hambergar-title,
.cross-title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 10px;
	line-height: 1;
	color: #31304F;
	margin-top: 5px;
}
.user-cart-cntlr:after{
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	height: 2px;
	width: 30px;
	background: #31304F;
}
.hdr-cart{
	
}
.hdr-cart a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background: #8dcc0c;
	border-radius: 50% 50%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	position: relative;
}
.hdr-cart a:hover{
	background: #EC5387;
}
.hdr-cart a span{
	font-size: 12px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	line-height: 1;
	margin-top: 4px;
}
.hdr-cart a i{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	margin-top: -2px;
}
.hdr-cart a i svg{
	max-width: 35px!important;
	width: 100%!important;
	height: auto!important;
}

.catagory-menu{
	position: absolute;
	top: 100%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left: 0;
	right: 0;
	background: #31304f;
	padding: 24px 20px 22px 20px;
	z-index: 10;
}
.catagory-menu ul{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 -28px;
}
.catagory-menu ul li{
	padding: 0 28px;
}
.catagory-menu ul li a{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 1;
	display: inline-block;
	text-transform: uppercase;
}
.catagory-menu ul li.current-menu-item a,
.catagory-menu ul li a:hover{
	color: #EC5387;
}
/*huamberger*/
.hambergar-icon{
	width: 24px;
	height: 20px;
	position: relative;
	margin: 0 auto
}
.hambergar-icon span{
	position: absolute;
	content: "";
	top: 0;
	left: 3px;
	right: 3px;
	height: 2px;
	background: #31304F;
	border-radius: 5px;
}
.hambergar-icon span:nth-child(2){
	top: 9px;
	left: 0;
	right: 0;
}
.hambergar-icon span:nth-child(3){
	top: 18px;
}
.cross-title{
	display: none;
}

/*xs mobile menu*/
.xs-mobile-menu{
	display: none;
}
/*responsive*/
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	.logo a{
		max-width: 200px;
	}
	nav.main-nav > ul{
		margin: 0 -10px;
	}
	nav.main-nav > ul > li{
		padding: 0 10px;
	}
	.main-nav{
		padding-right: 20px;
	}
	.user-cart-cntlr{
		padding-left: 50px;
	}
	.hdr-user{
		padding-right: 15px;
	}
	.catagory-menu ul{
		margin: 0 -15px;
	}
	.catagory-menu ul li{
		padding: 0 15px;
	}
	.catagory-menu ul li a,
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 15px;
	}
}
@media(max-width: 991px){
	.header-cntlr{
		padding-bottom: 0;
	}
	.logo a{
		max-width: 160px;
	}
	nav.main-nav > ul{
		margin: 0 -6px;
	}
	nav.main-nav > ul > li{
		padding: 0 6px;
	}
	.main-nav{
		padding-right: 10px;
	}
	.user-cart-cntlr{
		padding-left: 35px;
	}
	.user-cart-cntlr:after{
		width: 22px;
	}
	.hdr-user{
		padding-right: 10px;
	}
	nav.main-nav ul li a,
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 14px;
	}
	.hdr-user a i svg{
		max-width: 17px;
	}
/*	.hdr-cart a{
		width: 40px;
		height: 40px;
	}
	.hdr-cart a i svg{
		max-width: 25px;
	}*/
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		margin-top: -28px;
	}
	.catagory-menu{
		padding-top: 18px;
		padding-bottom: 16px;
	}
	.catagory-menu ul{
		margin: 0 -8px;
	}
	.catagory-menu ul li{
		padding: 0 8px;
	}
	.catagory-menu ul li a{
		font-size: 14px;
	}
}
@media(max-width: 767px){
	.header-inr{
		position: relative;
		min-height: 131px;

	}
	.user-cart-cntlr{
		padding-left: 0;
		width: 100%;
	}
	.user-cart-cntlr:after{
		content: none;
	}
	.hdr-lft{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
	}
	.hdr-rgt{
		margin-left: initial;
	}
	.hdr-rgt{
		width: 100%;
	}
	.hdr-user {
		padding-right: 0;
		margin-left: auto!important;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
	}
}
@media(max-width: 575px){
	
}

@media(max-width: 1199px){
	
}
@media(max-width: 1199px){
	
}