.category-sec{
	padding-bottom: 80px;
}
.category-sec-cntrl ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;
}
.category-sec-cntrl ul li{
	max-width: 33.3333%;
	width: 100%;
	padding: 0 4px 20px; 
}
.cate-grids-img{
	position: relative;
	overflow: hidden;
}
.cate-grids-img img{
	width: 100%;
}
.cate-grids-img span{
	position: absolute;
	color: #fff;
	background: rgba(49, 48, 79, .40);
	width: 230px;
	height: 70px;	
	display: flex;
	justify-content: center;
	align-items: center;
	left: 24px;
	bottom: 24px;
	font-family: Open Sans;
	font-weight: 700;
	font-size: 30px;
	line-height: 1;
	text-transform: capitalize;
}


/* ================ */
/* == blog sec === */
/* ============== */
.blog-sec-cntrl{
	padding-bottom: 82px;
}
.blog-grids-cntrl .blg-grds-item .blg-grd-items{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}
.BlogGridsSlider{
	max-width: 33.3333%;
	width: 100%;
	padding: 0 12px 40px;
	
}
.BlogGridsItm{
	background: #fff;
	padding-bottom: 40px;
}
.BlogGridsItm-img{
	width: 100%;
	height: 309px;
	overflow: hidden;
	position: relative;
	margin-bottom: 45px;
}
.bgi-img{
	width: 100%;
	height: 100%;
}
.BlogGridsItm-des{
	padding-left: 33px;
	padding-right: 72px;	
}
.BlogGridsItm-des .bgi-title{
	margin-bottom: 15px;
}
.BlogGridsItm-des .bgi-title a{
	font-weight: 500;
	color: #31304F;
	font-family: 'Bitter', serif;
	display: inline-block;
	vertical-align: baseline;
}
.BlogGridsItm-des .bgi-title a:hover{
	color: #ec5487;
}
.post-date{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 115px;
	height: 20px;
	background-color: #EC5387;
	text-transform: capitalize;
	margin-bottom: 24px;
}
.bgi-des p{
	line-height: 1.4;
}
.more-btn{
	margin-top: 10px;
}
.blg-btn{
	margin: auto;
}
