.hm-banner{
	padding: 0 38px;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;
}
.hm-banner:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: -140px;
	z-index: 10;
	width: 253px;
	height: 334px;
	background: transparent;
	border: 10px solid #f7c9c9;
}
.hm-bnr-bg-img{
	height: 856px;
}
.hm-banner-cntlr{
	height: 100%;
	padding-bottom: 100px;
	display: flex;
}
.hm-banner .container,
.hm-banner .container .row,
.hm-banner .container .row .col{
	height: 100%;
}
.hm-banner-desc{
	max-width: 680px;
	width: 100%;
	padding: 45px 65px 49px 65px;
	position: relative;
	margin-top: auto;
}
.hm-banner-desc:after{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #31304F;
	opacity: 0.5;
	backdrop-filter: blur(4px);
	z-index: 2;
}
.hm-banner-desc > div{
	position: relative;
	z-index: 5;
}
.hm-banner-title{
	color: #fff;
	line-height: 1.2;
}
.hm-banner-title span{
	font-weight: 400;
	display: block;
}
.hm-banner-desc p{
	font-size: 18px;
	color: #fff;
}
.hm-banner-desc p:last-of-type{
	margin-bottom: 34px;
}
.hm-banner-btn{

}
.hm-banner-btn a{
	display: inline-block;
}
.hm-banner-btn a:hover i svg{
	fill: #EC5387;
}