
.hm-products-section{
	padding-bottom: 100px;
	position: relative;
	overflow: hidden;
	padding-top: 100px;
	margin-top: -100px;
}
.hm-pro-section-flower {
    position: absolute;
    right: 0;
    bottom: -35px;
    z-index: 1;
    opacity: .3;
}
.hm-products-section .sec-entry-hdr,
.hm-products-grd-cntlr{
	position: relative;
	z-index: 2;
}
.fl-product-grd{
	background: #fff;
	padding: 20px 20px 38px;
}
.fl-product-grd-inr{
	position: relative;
	text-align: center;
	padding-top: 50px;
}
.fl-pro-grd-img-cntlr{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.fl-product-grd:hover .fl-pro-grd-img-cntlr img{
	transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.fl-pro-grd-price{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 1.2;
	color: #525A61;
	margin-bottom: 35px;
}
.fl-product-grd .fl-pro-grd-title{
	color: #31304F;
	font-weight: 400;
	margin-bottom: 12px;
}
.fl-product-grd .fl-pro-grd-title a{
	color: inherit;
}
.fl-product-grd .fl-pro-grd-title:hover a{
	color: #EC5387;
}
.fl-pro-absolute-text{
	position: absolute;
	width: 129px;
	height: 30px;
	background: #EC5387;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
	font-weight: 700;
	z-index: 11;
	left: 0;
	top: 0;
}
.hm-all-products-btn{
	padding-top: 40px;
}
.hmProdctGrdsSlider{
	margin: 0 -12px!important;
}
.hmProdctGrdsSlideItme{
	padding: 0 12px;
}




@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {
	.hmProdctGrdsSlider {
	    margin: 0 -10px!important;
	}
	.hmProdctGrdsSlideItme {
	    padding: 0 10px;
	}
	.fl-product-grd .fl-pro-grd-title{
		font-size: 21px;
	}
	.hm-pro-section-flower{
		max-width: 900px;
	}
	.hm-products-section{
		padding-top: 90px;
		margin-top: -90px;
	}
}

@media(max-width: 1399px){
	.hm-pro-section-flower {
	    max-width: 821px;
	}
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.fl-product-grd .fl-pro-grd-title {
	    font-size: 20px;
	}
	.fl-pro-grd-price{
		margin-bottom: 30px;
	}
	.fl-product-grd-inr{
		padding-top: 30px;
	}
	.hm-pro-section-flower {
	    max-width: 795px;
	    right: -160px;
	}
}

@media(max-width: 991px){
	.hm-pro-section-flower {
	    max-width: 816px;
	    right: -295px;
	}
	.hmProdctGrdsSlider .slick-dots{
		margin-top: 25px;
	}
	
}

@media(max-width: 767px){
	
}

@media(max-width: 575px){


}

@media(max-width: 479px){
	

}

@media(max-width: 359px){

}