.product-fea-list{
	padding-bottom: 80px;
	overflow: hidden;
}
.prd-fea-list-cntrl ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;
}
.prd-fea-list-cntrl ul li{
	max-width: 33.3333%;
	width: 100%;
	padding: 0 4px 20px; 
}
.prd-fea-img{
	position: relative;
}
.prd-fea-img a{
	display: block;
}
.prd-fea-img a img{
	width: 100%;
}
.prd-fea-img span{
	position: absolute;
	color: #fff;
	background: rgba(49, 48, 79, .40);
	width: 230px;
	height: 70px;	
	display: flex;
	justify-content: center;
	align-items: center;
	left: 24px;
	bottom: 24px;
	font-family: Open Sans;
	font-weight: 700;
	font-size: 30px;
	line-height: 1;
	text-transform: capitalize;
}


/* ================ */
/* == blog sec === */
/* ============== */
.blog-hdr-cntrl{
	padding-bottom: 16px;
}
.blog-hdr{
	padding-bottom: 16px;
}
.blog-hdr p{
	text-align: center;
}
.blog-sec-cntrl{
	padding-bottom: 82px;
}
.blog-grid-cntrl .blg-grd-items .blg-grd-item{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}
.blgitm{
	max-width: 33.3333%;
	width: 100%;
	padding: 0 12px 40px;
	
}
.blg-fea-item{
	background: #fff;
	padding-bottom: 40px;
}
.blg-fea-img{
	min-height: 309px;
	margin-bottom: 45px;
}
.blg-fea-itm-des{
	padding-left: 33px;
	padding-right: 72px;	
}
.blg-itm-title{
	font-weight: 500;
	color: #31304F;
	font-family: 'Bitter', serif;
	line-height: 1.1;
	margin-bottom: 15px;
}
.blg-date{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 115px;
	height: 20px;
	background-color: #EC5387;
	text-transform: capitalize;
	margin-bottom: 24px;
}
.blg-fea-itm-des p{
	line-height: 1.4;
}
.blg-fea-itm-des a{
	display: inline-block;
	vertical-align: baseline;
	margin-top: 10px;
}
.blg-btn{
	margin: auto;
}