.hm-banner{
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;
}
.hm-banner:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 226px;
	height: 334px;
	background: transparent;
	border: 10px solid #f7c9c9;
	transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.hm-bnr-bg-img{
	height: 856px;
}
.hm-banner-cntlr{
	height: 100%;
	padding-bottom: 100px;
	display: flex;
}
.hm-banner .container,
.hm-banner .container .row,
.hm-banner .container .row .col{
	height: 100%;
}
.hm-banner-desc{
	max-width: 680px;
	width: 100%;
	padding: 45px 65px 49px 65px;
	position: relative;
	margin-top: auto;
}
.hm-banner-desc:after{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #31304F;
	opacity: 0.5;
	backdrop-filter: blur(4px);
	z-index: 2;
}
.hm-banner-desc > div{
	position: relative;
	z-index: 5;
}
.hm-banner-title{
	color: #fff;
	line-height: 1.2;
}
.hm-banner-title span{
	font-weight: 400;
	display: block;
}
.hm-banner-desc p{
	font-size: 18px;
	color: #fff;
}
.hm-banner-desc p:last-of-type{
	margin-bottom: 34px;
}
.hm-banner-btn{

}
.hm-banner-btn a{
	display: inline-block;
}
.hm-banner-btn a:hover i svg{
	fill: #EC5387;
}

/*responsive*/
@media(max-width: 1799px){
	.hm-banner-cntlr{
		padding-left: 50px;
	}
}
@media(max-width: 1600px){
	.hm-banner-cntlr{
		padding-left: 100px;
	}
}
@media(max-width: 1599px){
	.hm-bnr-bg-img{
		height: 800px;
	}
	.hm-banner-cntlr{
		padding-bottom: 88px;
		padding-left: 50px;
	}
	.hm-banner-desc {
		max-width: 600px;
		width: 100%;
		padding: 35px 45px 35px 45px;
	}
	.hm-banner:after{
		height: 200px;
		width: 120px;
		border-width: 10px;
	}
}
@media(max-width: 1499px){

}
@media(max-width: 1399px){
	
}
@media(max-width: 1299px){
	.hm-banner:after{
		height: 300px;
		width: 220px;
	}
}
@media(max-width: 1199px){
	.hm-bnr-bg-img{
		height: 700px;
	}
	.hm-banner{
		padding-bottom: 70px;
	}
	.hm-banner:after{
		height: 260px;
		width: 160px;
	}
	.hm-banner-desc {
		max-width: 526px;
		width: 100%;
		padding: 30px 35px 30px 35px;
	}
}
@media(max-width: 991px){
	.hm-bnr-bg-img{
		height: 550px;
	}
	.hm-banner{
		padding-bottom: 55px;
	}
	.hm-banner:after{
		height: 200px;
		width: 120px;
		border-width: 8px;
	}
	.hm-banner-cntlr{
		padding-left: 30px;
	}
	.hm-banner-desc {
		max-width: 456px;
		width: 100%;
		padding: 25px 25px 20px 25px;
	}
	.hm-banner-title{
		margin-bottom: 12px;
	}
	.hm-banner-desc p:last-of-type {
		margin-bottom: 20px;
	}
}
@media(max-width: 767px){
	.hm-banner{
		padding-bottom: 42px;
	}
	.hm-bnr-bg-img{
		height: 400px;
	}
	.hm-banner-cntlr{
		padding: 0;
		margin: 0 -15px;
	}
	.hm-banner-desc{
		margin: auto 0;
		text-align: center;
		padding: 23px 15px;
		max-width: 100%;
	}
	.hm-banner-title{
		margin-bottom: 5px;
	}

	.hm-banner:after{
		height: 160px;
		width: 90px;
		border-width: 6px;
	}
	.hm-banner-desc p{
		display: none;
	}
}
@media(max-width: 575px){
	.hm-banner{
		padding-bottom: 32px;
	}
	.hm-banner:after{
		height: 120px;
		width: 72px;
		border-width: 4px;
	}
	.hm-bnr-bg-img{
		height: 320px;
	}
}
