.welcome-to-the-website-sec{
	padding-bottom:90px;
}
.welcome-to-the-website-sec-cntlr{
	display:flex;
	align-items: center;
}
.wlc-to-the-wbsite-sec-lft{
	max-width:49%;
	width:100%;
}
.wlc-to-the-wbsite-sec-rgt{
	max-width:51%;
	width:100%;
	
}
.wlc-to-the-wbsite-sec-rgt-cntlr{
	background:#31304F;
	padding-left:175px;
	padding-right:68px;
	min-height:816px;
	display: flex;
	align-items: center;
	position: relative;
}
.wlc-to-the-wbsite-sec-rgt-des{
	position: relative;
	z-index: 1;
}
.wlc-to-the-wbsite-sec-rgt-des i{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom:23px;
}
.wlc-to-the-wbsite-sec-rgt-des h1{
	color: #FFFFFF;
	line-height:1.2;
	margin-bottom:31px;
}
.wlc-to-the-wbsite-sec-rgt-des p{
	color:#fff;
	margin-bottom:27px;
}
.wlc-to-the-wbsite-sec-rgt-des a{
	border: 1px solid #FFFFFF;
	color:#fff;
	display: inline-block;
}
.wlc-to-the-wbsite-sec-rgt-cntlr > span {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: .8;
}
.wlc-to-the-wbsite-img-module-left{
	width:62.9%;
	height:486px;
	padding-right:22px;
	margin-top:144px;
}
.wlc-to-the-wbsite-img-module-left .img-module-left{
	width:100%;
	height:100%;
}
.wlc-to-the-wbsite-img-module-rgt{
	width:37.1%;
	height:629px;
	position: relative;
}
.wlc-to-the-wbsite-img-module-rgt .img-module-rgt{
	width:100%;
	height:100%;
}
.wlc-to-the-wbsite-img-module{
	display: flex;
	margin-right: -122px;
    z-index: 2;
    position: relative;
}
.wlc-to-the-wbsite-img-module-rgt span{
    width: 137px;
    height: 160px;
    background: #F7C9C8;
    display: inline-block;
    vertical-align: baseline;
    position: absolute;
    top: 75px;
    right: 100%;
    opacity: 0.9;
}