/* ----------------- over-ons-intro-section ---------------------*/
.over-ons-intro-section{
	padding-bottom:114px;
}
.over-ons-intro-sec-cntlr,
.over-ons-intro2-sec-cntlr{
	display: flex;
	align-items: center;
}
.over-ons-intro-sec-des{
	max-width:59.24%;
	width:100%;
	padding-right: 170px;
    padding-left: 126px;
    padding-top: 40px;
    padding-bottom: 40px
}

.over-ons-intro-sec-img-module{
	max-width:40.76%;
	width:100%;
}
.over-ons-intro-sec-img-mdul-cntlr{
    height: 546px;
    position: relative;
}

.over-ons-intro-mdul-img{
    width: 100%;
    height: 100%;
}
.over-ons-intro-sqr{
    width: 298px;
    height: 390px;
    border: 10px solid #f7c9c8;
    position: absolute;
    bottom: -241px;
    left: -110px;
    z-index: 3;
}
.over-ons-intro-sec-des-cntlr p{

}
.over-ons-intro-sub-title{
	color:#8AA4E4;
	letter-spacing: -0.32px;
	margin-bottom:36px;
	font-size:22px;
}
.over-ons-intro-sec-title {
    margin-bottom: 10px;
    text-transform: capitalize;
}

/* ----------------------- over-ons-intro2-section ------------------------ */


.over-ons-intro2-section{
	padding-bottom:115px;
}
.over-ons-intro2-sec-des{
	max-width:51%;
	width:100%;
	padding-right:118px;
}
.over-ons-intro2-sec-title{
    line-height: 1.33;
    margin-bottom:30px;
}
.over-ons-intro2-sec-des-cntlr p:last-of-type{
	margin-bottom:0!important;
}
.over-ons-intro2-sec-des-cntlr ul{
	padding-bottom:20px;
}
.over-ons-intro2-sec-img-module{
	max-width:49%;
	width:100%;
}
.over-ons-intro2-lft-mdul-img-cntlr{
	max-width: 65.62%;
    width: 100%;
    height: 452px;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
.over-ons-intro2-lft-mdul-img{
	width:100%;
	height:100%;
}
.over-ons-intro2-sec-img-mdul-cntlr{
    position: relative;
    min-height:640px;
}
.over-ons-intro2-rgt-mdul-img-cntlr{
    height: 482px;
    max-width: 70.01%;
    width: 100%;
    padding:15px;
    background:#fff;
    right:-15px;
    bottom:0;
    position:absolute;
    z-index:2;
}
.over-ons-intro2-rgt-mdul-img{
    width: 100%;
    height: 100%;
}
.page-template-page-overons .ftr-top-inr{
	border-top: 0;
}

@media(max-width:1499px){
	/* --------------------------- over-ons-intro-section -------------------------- */

	.over-ons-intro-sec-des{
	    padding-right: 80px;
	    padding-left: 55px;
	}
	.over-ons-intro-sqr{
	    width: 270px;
	    left: -91px;
	}
	.over-ons-intro2-sec-des{
		padding-right:50px;
	}
/*	header,footer,section{
		overflow: hidden;
	}*/
	.over-ons-intro2-section{
		overflow:initial;
	}
}

@media(max-width:1399px){
	/* --------------------------- over-ons-intro-section -------------------------- */

	.over-ons-intro-sec-des{
	    padding-right: 54px;
	    padding-left: 22px;
	}
}
@media(max-width:1199px){
	/* --------------------------- over-ons-intro-section -------------------------- */

	.over-ons-intro-sqr {
	    width: 222px;
	    left: -78px;
	    height: 333px;
	    bottom: -215px;
	    border-width: 8px;
	}

	/* --------------------------- over-ons-intro2-section -------------------------- */
	.over-ons-intro2-sec-title{
    	font-size: 32px!important;
	}
	.over-ons-intro2-sec-des {
	    padding-right: 24px;
	}
}
@media(max-width:991px){
	/* --------------------------- over-ons-intro-section -------------------------- */
	.over-ons-intro-sub-title{
		font-size:21px;
	}
	.over-ons-intro-section{
	    padding-bottom: 70px;
	}
	.over-ons-intro-sec-img-mdul-cntlr{
		height: 455px;
	}
	.over-ons-intro-sqr{
	    width: 160px;
	    left: -80px;
	    height: 255px;
	    border-width: 7px;
	    bottom: -170px;
	}
	/* --------------------------- over-ons-intro2-section -------------------------- */
	.over-ons-intro2-section{
	    padding-bottom: 80px;
	}
	.over-ons-intro2-sec-title{
	    font-size: 28px!important;
	}
	.over-ons-intro2-sec-title br{
	    display: none;
	}
	.over-ons-intro2-sec-img-mdul-cntlr{
		min-height: 600px;
	}
	.over-ons-intro2-lft-mdul-img-cntlr{
		height: 390px;
	}
	.over-ons-intro2-rgt-mdul-img-cntlr{
		height: 400px;
	}
}
@media(max-width:870px){
	/* --------------------------- over-ons-intro-section -------------------------- */

	.over-ons-intro-sqr{
		left:-67px;
	}
}
@media(max-width:767px){
	/* --------------------------- over-ons-intro-section -------------------------- */
	.over-ons-breadcrumb-sec{
		display: none;
	}
	.over-ons-intro-sec-cntlr, 
	.over-ons-intro2-sec-cntlr{
		flex-direction:column;
	}
	.over-ons-intro-sec-des,
	.over-ons-intro-sec-img-module{
		max-width:100%;
	}
	.over-ons-intro-section {
	    padding-bottom: 30px;
	}
	.over-ons-intro-sqr{
	    width: 101px;
	    left: -67px;
	    height: 177px;
	    border-width: 5px;
	    bottom: -60px;
	}
	.over-ons-intro-sec-des{
	   padding: 10px 10px 9px 0px;
	}
	.over-ons-intro-sub-title{
		margin-bottom:18px;
	}
	.over-ons-intro-sec-title{
		margin-bottom:5px;
	}
	.over-ons-intro-sec-img-mdul-cntlr{
	    height: 400px;
	}

	.over-ons-intro2-sec-des,
	.over-ons-intro2-sec-img-module{
		max-width:100%;
	}
	.over-ons-intro2-sec-title br{
		display: block;
	}
	.over-ons-intro2-lft-mdul-img-cntlr{
	    max-width: 50%;
	    height: 100%;
	    padding-right:8px;
	}
	.over-ons-intro2-rgt-mdul-img-cntlr{
	    max-width: 50%;
	    top: 0;
	    padding: 0;
	    height: 100%;
	    right: 0;
	    padding-left:8px;
	    background: #fcf8f8;
	}
	.over-ons-intro2-sec-img-mdul-cntlr{
	    min-height: 250px;
	}
	.over-ons-intro2-section{
	    padding-bottom: 30px;
	}
	.over-ons-intro2-sec-des{
		padding-bottom:30px;
		padding-right:0;
	}
	.over-ons-intro2-sec-title{
	    font-size: 24px!important;
	}
	.over-ons-intro2-sec-title{
	    margin-bottom: 20px;
	}
	.over-ons-cta-module-sec .dfp-cta-module{
		margin-bottom:0px;
	}
}
@media(max-width:575px){
	/* --------------------------- over-ons-intro-section -------------------------- */

	.over-ons-intro-sub-title{
	    font-size: 18px;
	}
}
@media(max-width:479px){
	/* --------------------------- over-ons-intro-section -------------------------- */

	.over-ons-intro-sec-img-mdul-cntlr{
	    height: 321px;
	}
	.over-ons-intro-sqr{
	    width: 88px;
	    left: -67px;
	    height: 130px;
	    border-width: 4px;
	    bottom: -52px;
	}
	.over-ons-intro-sub-title{
	    margin-bottom: 17px;
	}

	/* --------------------------- over-ons-intro-section -------------------------- */
	.over-ons-intro2-sec-title{
	    font-size: 20px!important;
	}
	.over-ons-welcom-sec{
		padding-bottom:30px!important;
	}
	.over-ons-intro2-lft-mdul-img-cntlr,
	.over-ons-intro2-rgt-mdul-img-cntlr{
		height:100%;
	}
	.over-ons-intro2-sec-img-mdul-cntlr{
		min-height:160px;
	}
}
@media(max-width:359px){
	.over-ons-intro2-sec-title br{
		display:none;
	}
}
