.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
	display: flex;
	justify-content: center;
}
.slick-slider .slick-dots li{
	width: 14px!important;
	height: 14px!important;
	position: static;
	background: #F1E8E1!important;
	border-radius: 100% 100%!important;
	margin: 0 7px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #F7C9C8!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}


/*
-------------
 404 page
-------------
*/
.page-404-sec-wrp{
	padding-bottom: 85px;
}
.page-404-dsc-wrp{
	max-width: 920px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.page-404-dsc-wrp strong{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 40px;
	padding-left: 190px;
}
.page-404-dsc-wrp span{
	display: block;
	font-size: 22px;
	line-height: 1;
	letter-spacing: -0.02em;
	color: #8AA4E4;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding-bottom: 20px;
}
.page-404-dsc-wrp p{
	margin-bottom: 50px;
}
.page-404-dsc-wrp ul{
	display: table;
	margin: 0 auto;
}
.page-404-dsc-wrp ul li{
	float: left;
	font-size: 16px;
	line-height: 1.1;
	font-weight: 500;
	padding: 0 35px;
}
.page-404-dsc-wrp ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color:#525A61; 
	text-decoration: underline;
}
.page-404-dsc-wrp ul li a:hover{
	color: #8dcc0c;
}
.page-404-btn{
	display: table;
	margin: 0 auto;
	padding-top: 60px;
}
.page-404-btn a {
    float: left;
    height: 50px;
    width: 185px;
    margin: 0 9px;
    border: 1px solid #31304F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-404-btn a:hover:first-of-type{
	background:transparent;
	color: #31304F;
	border-color: #31304F;
}
.page-404-btn a:hover:last-of-type{
	background:#31304F;
	border-color: #31304F;
}
/* 
pagination
*/
.fl-pagi-cntlr{
	padding-bottom: 56px;
}
.fl-pagi-cntlr ul{
	display: flex;
	margin: 0 -28px;
	justify-content: flex-end;
	align-items: center;
}
.fl-pagi-cntlr ul li{
	padding: 0 17px;
}
.fl-pagi-cntlr ul li a, .fl-pagi-cntlr ul li span{
	width: 30px;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.3;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.04em;
	color: #31304F;
	border: 1px solid transparent;
	border-radius: 5px;
}
.fl-pagi-cntlr ul li a:hover{
	border: 1px solid #31304F;
}
.fl-pagi-cntlr ul li span.current{
	border: 1px solid #31304F;
/*     float: left;
    height: 50px;
    width: 185px;
    margin: 0 9px;
    display: flex;
    justify-content: center;
    align-items: center; */
}
body.woocommerce-cart .page-title{
	
}
div.coupon:not(.under-proceed){ 
	display: none !important; 
}
