.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 14px!important;
	height: 14px!important;
	position: static;
	background: #F1E8E1!important;
	border-radius: 100% 100%!important;
	margin: 0 7px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #F7C9C8!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}


/*
-------------
 404 page
-------------
*/
.page-404-sec-wrp{
	padding-top: 30px;
	padding-bottom: 85px;
}
.page-404-dsc-wrp{
	max-width: 920px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.page-404-dsc-wrp strong{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 40px;
	padding-left: 190px;
}
.page-404-dsc-wrp span{
	display: block;
	font-size: 22px;
	line-height: 1;
	letter-spacing: -0.02em;
	color: #8AA4E4;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding-bottom: 20px;
}
.page-404-dsc-wrp p{
	margin-bottom: 50px;
}
.page-404-dsc-wrp ul{
	display: table;
	margin: 0 auto;
}
.page-404-dsc-wrp ul li{
	float: left;
	font-size: 16px;
	line-height: 1.1;
	font-weight: 500;
	padding: 0 35px;
}
.page-404-dsc-wrp ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color:#525A61; 
	text-decoration: underline;
}
.page-404-dsc-wrp ul li a:hover{
	color: #8dcc0c;
}
.page-404-btn{
	display: table;
	margin: 0 auto;
	padding-top: 60px;
}
.page-404-btn a{
	float: left;
	height: 50px;
	width: 185px;
	margin: 0 9px;
}