
.product-page-col-cntlr{
	display: flex;
	padding-bottom: 53px;
}

.product-page-col-cntlr .fl-pagi-cntlr{
	padding-bottom: 0;
}
.sidebar-title .fl-h4{
	border-bottom: 1px solid rgba(166, 166, 166, 0.3);
	padding-bottom: 15px;
	margin-bottom: 28px;
}
.product-page-sidebar{
	width: 25.70%;
	padding-right: 55px;
	padding-top: 10px;
}
.product-page-col-rgt{
	width: 74.30%;
}
.product-page-col-rgt.full-product-page{
	width: 100%;
}


.fl-products-cntlr ul.products {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px!important;
	padding-bottom: 45px!important;
}
.fl-products-cntlr ul.products > li{
	width: 25%!important;
	padding: 0 10px 25px!important;
	margin: 0!important;
}

.fl-products-cntlr .fl-product-grd .fl-pro-grd-title{
	font-size: 18px;
	margin-bottom: 6px;
}

.fl-products-cntlr .fl-pro-grd-price{
	margin-bottom: 20px;
}

.fl-products-cntlr .fl-product-grd{
	padding: 15px 15px 28px;
}

.fl-product-grd-2 .fl-trnsprnt-btn{
	font-size: 14px;
	padding: 8px 19px;
	color: #fff;
	border-color: #fff;
}

.fl-product-grd-2 .fl-product-grd{
	background: #31304F;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.fl-product-grd-2 .fl-product-grd-inr{
	padding: 0;
}

.fl-product-grd-2 .fl-h4{
	color: #fff;
}

/* Product attribute filter */
.woocommerce .woocommerce-widget-layered-nav-list a::before {
    margin-right: 0;
    content: "";
    width: 18px !important;
    height: 18px !important;
    background: #e9e9e9 !important;
    position: absolute;
    left: 0;
    top: 0;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a::before {
    background: #a00 !important;
    content: "" !important;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item a, 
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item span{
    padding-left: 18px !important;
    padding-left: 30px!important;
}


.sidebar-content .sidebar-widget h4{
	font-size: 16px;
	line-height: 1;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	margin-bottom: 12px;

}
.product-page-sidebar .sidebar-widget ul li{
	margin-bottom: 15px!important;
}
.product-page-sidebar .sidebar-widget ul li a{
	color: #525A61;
}
.woocommerce .woocommerce-widget-layered-nav-list a::before{
	width: 18px;
	height: 18px;
	background: transparent!important;
	color: #fff;
	border-radius: 2px;
	border: 1px solid #bfbfbf;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a::before{
	background: #8aa4e4!important;
	border-color: #8aa4e4!important;
}
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sidebar-widget{
	padding-bottom: 10px;
}
.price_slider_wrapper .price_slider_amount button.button{
	width: 100%!important;
	margin: 0!important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	background: #31304F!important;
	border-color: #31304F!important;
	border-radius: 6px!important;
	margin-top: 25px!important;
}
.sidebar-widget .ui-slider .ui-slider-handle{
	background: #FFFFFF!important;
	border: 1px solid rgba(0, 0, 0, 0.1)!important;
	box-shadow: 0px 5.5px 5px -3px rgba(14, 14, 44, 0.2), inset 0px -1px 0px rgba(14, 14, 44, 0.4)!important;
	border-radius: 44px!important;
	width: 24px!important;
	height: 24px!important;
	top: 50%!important;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.sidebar-widget .ui-widget.ui-widget-content{
	background: #F1E8E1!important;
	box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1)!important;
	border-radius: 8px!important;
	height: 8px!important;
}
.price_label{
	display: flex;
}
.price_label span{
	margin-top: 15px;
	display: flex;
	font-size: 12px;
	font-family: 'Work Sans', sans-serif;
	color: #78797B;
	font-weight: 400;
}
.price_label span.to{
	margin-left: auto;
}

@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {
	.product-page-sidebar{
		padding-right: 40px;
	}
	.fl-products-cntlr ul.products > li{
		width: 33.3333%!important;
	}
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){


}

@media(max-width: 991px){
	.product-page-col-cntlr {
	    display: block;
	}
	.product-page-sidebar{
		width: 100%;
		padding-right: 0;
	}
	.product-page-col-rgt {
	    width: 100%;
	}
	
	
}

@media(max-width: 767px){
	.fl-products-cntlr > ul > li {
	    width: 50%!important;
	}
}

@media(max-width: 575px){
	.product-page-col-rgt .fl-pro-grd-price > span {
	    width: initial;
	}
	

}

@media(max-width: 479px){
	.fl-products-cntlr .fl-product-grd {
	    padding: 10px 10px 20px;
	}

}

@media(max-width: 359px){

}