
/* ------------------- my account  deshboard-----------------------*/
/*body.woocommerce-account .innerpage-con-wrap {
    margin-bottom: 75px;*/
.account-page-title {
    padding-top: 40px;
}
body.woocommerce-account .account-page-title h1{
	border-bottom:none!important;
	margin-bottom: 18px!important;
	padding-bottom: 0!important;
}
.woocommerce-account-grds-cntlr {
    padding-top: 43px;
    display: flex;
    align-items: center;
    margin-bottom: 75px;
}
.woocommerce-account-grds-cntlr .woocommerce-notices-wrapper{
	display: none;
}
.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li{
    border: 1px solid #31304F;
    border-radius: 6px;
    padding:0;
    position:relative;
    cursor: pointer;
}

.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li:not(:last-child){
    margin-bottom: 19px;
}


.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation{
    max-width: 51.2%;
    width: 100%;
    padding-right: 24px;
}

.woocommerce-account-grds-cntlr .woocommerce-MyAccount-content{
    max-width: 48.80%;
    width: 100%;
}

.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li a:after{
    content: "";
    position: absolute;
    background: url(../images/my-ac-login-icon-01.svg);
    height: 20px;
    width: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li.is-active a:after{
    background: url(../images/my-ac-login-icon-active-01.svg);

}
.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:after{
    background: url(../images/my-ac-login-icon-02.svg);
    width:17px;
    height: 21px;
}
.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account.is-active a:after{
    background: url(../images/my-ac-login-icon-active-02.svg);
}
.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:after{
    background: url(../images/my-ac-login-icon-03.svg);
    height: 19px;
    width: 16px;
}
.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout{
	border-color:#D17181;
	
}
.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a{
	color:#D17181!important;
}
.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li a{
    display: block;
    padding: 14px 20px;
    letter-spacing: 0.04em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius:6px;
}
.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li.is-active a{
	background: #31304F;
	color:#fff;
}



/*------------------innerpage-con-wrap--------------------*/
.woocommerce-edit-account .innerpage-con-wrap .woocommerce-account-grds-cntlr,
.woocommerce-orders .innerpage-con-wrap .woocommerce-account-grds-cntlr{
	align-items: flex-start;
}
.woocommerce-edit-account .innerpage-con-wrap .woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation{
	padding-top:20px;
}
.woocommerce-edit-account .innerpage-con-wrap,
.woocommerce-orders .innerpage-con-wrap{
	max-width:100%;
	width: 100%;
}
.woocommerce-edit-account .woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation{
	max-width:34.02%;
}

.woocommerce-edit-account .woocommerce-account-grds-cntlr .woocommerce-MyAccount-content{
	max-width:65.98%;
}
body.woocommerce-edit-account .account-page-title h1,
body.woocommerce-orders .account-page-title h1{
	border-bottom: 1px solid #F1E8E1!important;
	padding-bottom:40px!important;
}
.back-to-dashboard-btn-cntlr a{
    color: #78797B;
    position: relative;
    padding-left: 20px;
    display: inline-block;
    vertical-align: baseline;
    
}
.back-to-dashboard-btn-cntlr{
	margin-bottom:32px;
}
.back-to-dashboard-btn-cntlr a:after{
    content: "\f053";
    position: absolute;
    font-family: 'Font Awesome 5 free';
    font-weight: 600;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #76797A;
    margin-top: -1px;
}
.woocommerce-edit-account.woocommerce-account .woocommerce-EditAccountForm legend{
    border-bottom: 1px solid #ece9e9;
    margin-bottom: 32px;
}
.woocommerce-edit-account .woocommerce-EditAccountForm > p {
    text-align: right;
}
body.woocommerce-edit-account .woocommerce-EditAccountForm > p button[type="submit"]{
	padding-left: 133px!important;
	padding-right: 133px!important;
}

/* ------------------------- woocommerce-orders -----------------------*/
.woocommerce-orders .innerpage-con-wrap{
	max-width: 100%;
}
.woocommerce-orders .woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation{
	max-width: 33.95%;

}
.woocommerce-orders .myac-pro-grd-item-inr .myac-pro-grd-img{
	max-width:90px;
	height: auto;
	margin-right: 30px;
}
.woocommerce-orders .woocommerce-account-grds-cntlr .woocommerce-MyAccount-content{
	max-width:66.05%;
	padding-left:120px;
}
.woocommerce-orders .myac-pro-grd-item-inr .order-items-desc h5{
	font-size:18px;
	color: #31304F;
	font-weight: normal;
	margin-bottom:7px;
	line-height:1.2;
}
.woocommerce-orders .myac-pro-grd-item-inr .order-items-desc span{
	color: #78797B;
}
.woocommerce-orders .myac-pro-grd-item-inr .order-items-desc .product-price bdi{
	color: #31304F;
	font-weight:500;
}
.woocommerce-orders .myac-pro-grd-item-inr .order-items-desc h5 strong{
	display: none
}
.woocommerce-orders .myac-pro-grds .myac-pro-grd-item{
	max-width: 50%;
	width: 100%;
}
.woocommerce-orders .orders-crtl .code-text{
	font-size:24px;
	letter-spacing: -0.02em;
	font-weight:700;
	color: #202020;
	padding-bottom:23px;
	border-bottom: 1px solid #F2EDE9;
	font-family: 'Open Sans';
	margin-top:5px;
}
.woocommerce-orders .orders-crtl .my-ac-timea{
	margin-bottom:5px;
}
.woocommerce-orders  .myac-pro-grd-item .myac-pro-grd-item-inr{
    align-items: center;
    padding-top: 40px;
    padding-bottom: 12px;
}
.woocommerce-orders  .order-details .color-green{
	color: #8CCC0C;
	font-weight:500;
	font-family: 'Work Sans', sans-serif;
	padding-left:36px;
	margin-top: 20px;
	position: relative;
}
.woocommerce-orders .order-details .order-status:after {
    content: "";
    background-image: url(../images/woordr-conifo-icon.svg);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top:-4px;
}
.woocommerce-orders  .orders-crtl .contact-info a.order-contact-btn{
	display: inline-block;
    padding: 7px 48px;
    font-size: 12px!important;
    font-family: 'Open Sans'!important;
    margin-bottom:0px;
}
.woocommerce-orders .orders-crtl .contact-info a.order-contact-btn:after{
	content: none;
}
.woocommerce-orders .faq-accordion-wrp ul li .orders-crtl {
    padding-top: 25px;
    padding-bottom: 27px;
}
.woocommerce-orders .faq-accordion-wrp ul li{
	border-radius:6px;
}
.woocommerce-orders .orders-crtl .contact-info i{
	background: url(../images/woordr-conifo-icon.svg);
	width:25px;
	height: 25px;
	background-repeat:no-repeat;
	background-size:100% auto;
	background-position:center;
	display: inline-block;
	margin-bottom:25px;
	display: none;
}
/*.woocommerce-orders .orders-crtl .contact-info {
    padding-top: 13px;
}*/
.woocommerce-orders .woocommerce-account-grds-cntlr{
	padding-top:72px;
}

.woocommerce-orders .order-details .myac-pro-grds{
	border-bottom: 1px solid #ddd;
}
.woocommerce-orders .order-details{
	border:none;
}











/* ---------------------- my account login page---------------------------*/

body.woocommerce-account .default-page-con h1{
    border-bottom: 1px solid #F1E8E1;
    padding-bottom: 28px;
}
body.woocommerce-account .woocommerce-form{
	border:none;
	border-top:1px solid #ECE9E9;
	padding-left:0px;
	margin-right: 24px;
    padding-right: 0;
}
body.woocommerce-account .woocommerce form .form-row{
	margin-bottom:15px
}
body.woocommerce-account .woocommerce input[type="text"],
body.woocommerce-account .woocommerce input[type="email"], 
body.woocommerce-account .woocommerce input[type="tel"], 
body.woocommerce-account .woocommerce input[type="password"], 
body.woocommerce-account .woocommerce textarea{
	border-radius:6px;
}





body.woocommerce-account .woocommerce input[type="text"]::placeholder, 
body.woocommerce-account .woocommerce input[type="email"]::placeholder,
body.woocommerce-account .woocommerce input[type="tel"]::placeholder, 
body.woocommerce-account .woocommerce input[type="password"]::placeholder, 
body.woocommerce-account .woocommerce textarea::placeholder{
	color:#9EA5AB;
}
body.woocommerce-account .woocommerce input[type="text"]:-moz-placeholder, 
body.woocommerce-account .woocommerce input[type="email"]:-moz-placeholder,
body.woocommerce-account .woocommerce input[type="tel"]:-moz-placeholder, 
body.woocommerce-account .woocommerce input[type="password"]:-moz-placeholder, 
body.woocommerce-account .woocommerce textarea:-moz-placeholder{
	color:#9EA5AB;
}
body.woocommerce-account .woocommerce input[type="text"]:-ms-input-placeholder, 
	body.woocommerce-account .woocommerce input[type="email"]:-ms-input-placeholderr,
body.woocommerce-account .woocommerce input[type="tel"]:-ms-input-placeholder, 
body.woocommerce-account .woocommerce input[type="password"]:-ms-input-placeholder, 
body.woocommerce-account .woocommerce textarea:-ms-input-placeholderr{
	color:#9EA5AB;
}

body.woocommerce-account .woocommerce input[type="text"]::-moz-placeholder, 
body.woocommerce-account .woocommerce input[type="email"]::-moz-placeholder,
body.woocommerce-account .woocommerce input[type="tel"]::-moz-placeholder, 
body.woocommerce-account .woocommerce input[type="password"]::-moz-placeholder, 
body.woocommerce-account .woocommerce textarea::-moz-placeholder{
	color:#9EA5AB;
}
body.woocommerce-account .woocommerce input[type="text"]::-webkit-input-placeholder 
body.woocommerce-account .woocommerce input[type="email"]::-webkit-input-placeholder,
body.woocommerce-account .woocommerce input[type="tel"]::-webkit-input-placeholder,
body.woocommerce-account .woocommerce input[type="password"]::-webkit-input-placeholder,
body.woocommerce-account .woocommerce textarea::-webkit-input-placeholder{
	color:#9EA5AB;
}

body.woocommerce-account .login-register-wrap a{
	color:#8AA4E4;
	text-decoration: underline;
}
body.woocommerce-account .woocommerce form .form-row label{
	color:#000;
}
body.woocommerce-account .woocommerce button[type=submit],
body.woocommerce-account .woocommerce button[type=button]{
	margin-left:0px!important;
	padding: 15px 80px!important;
	line-height: 1;
}
body.woocommerce-account .woocommerce form .form-row label{
	padding-bottom: 12px;
}
body.woocommerce-account .woocommerce-notices-wrapper{
    margin-bottom: 43px;
}

body.woocommerce-account  .woocommerce-form__label{
    margin-top: 21px;
}
body.woocommerce-account .login-btm-wrap{
	border-top:1px solid #F1E8E1;
	padding-top:73px;
}
body.woocommerce-account .default-page-con h2{
	letter-spacing: -0.02em;
}
body.woocommerce-account .login-btm-wrap h2{
    text-align: center; 
    font-size: 30px;
    margin-bottom: 44px;
}
body.woocommerce-account .login-info-crtl .login-info-inr{
	display: flex;
	justify-content: center;
}
body.woocommerce-account .login-info-crtl .login-info-inr .loginInfoSlideItem{
    max-width: 33.3333%;
    width: 100%;
    text-align: center;
    padding-bottom: 33px;
}
body.woocommerce-account .default-page-con{
	padding-bottom:0;
}
body.woocommerce-account .login-info-crtl{
    padding-bottom: 23px;
}
body.woocommerce-account .login-info-crtl .login-info-inr .loginInfoSlideItem .loginInfoItem i{
	display: inline-block;
    width: 20px;
    height: 17px;
    background-image: url(../images/check-mark-icon.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
body.woocommerce-account .default-page-con p{
	margin-bottom:15px;
}
body.woocommerce-account .woocommerce .u-column1.col-1, 
body.woocommerce-account .woocommerce .u-column2.col-2{
	padding-right: 0;
	padding-left:0;
}

/*  ----------------------------- my account reg page ------------------------- */
.woocommerce-account .register-title h3{
	font-size:24px;
	border-bottom: 1px solid #F1E8E1;
    padding-bottom: 15px;
}
.register-top-title h1{
	border-bottom:none!important;
}

 .woocommerce-input-wrapper span input{
 	opacity: 0;
 	opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index:1;
}
.woocommerce-input-wrapper span{
    margin-right: 30px;
}
 .woocommerce-input-wrapper span{
 	position: relative;
 	padding-left:30px
 }
.radio-custom{
    height: 18px;
    position: absolute;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #8AA4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top: -1px;
}
/*.container input:checked ~ .radio-custom{
	background:#8aa4e4!important
}*/
.woocommerce-input-wrapper span input:checked ~ .radio-custom:after{
	display: block;
}
.woocommerce-input-wrapper span .radio-custom:after{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #8aa4e4;
	border-radius: 50%;
	display: none;
}
body.woocommerce-account .woocommerce form .form-row-first,
body.woocommerce-account .woocommerce form .form-row-last, 
body.woocommerce-account .woocommerce-page form .form-row-first,
body.woocommerce-account .woocommerce-page form .form-row-last{
	width: 50%;
}
body.woocommerce-account .woocommerce form .form-row-first,
body.woocommerce-account .woocommerce-page form .form-row-first{
	padding-right: 13px
}

body.woocommerce-account .woocommerce form .form-row-last, 
body.woocommerce-account .woocommerce-page form .form-row-last{
	padding-left: 13px;
}
body.woocommerce-account .woocommerce form .form-row select, 
body.woocommerce-account  .woocommerce-page form .form-row select{
	width: 100%;
    height: 48px;
    border: 2px solid #F2EDE9;
    border-radius: 6px;
    color: #9EA5AB;
    padding: 5px 18px 5px;
    font-size: 14px;
}
body.woocommerce-account .billing-address-wrap h3{
	font-size:16px;
	font-weight:normal;
	font-family: 'Bitter', serif;
}
body.woocommerce-account .woocommerce-input-wrapper .bootstrap-select{
	width: 100%!important;
}

.checkbox-custom{
	width: 18px;
    height: 18px;
    border:1px solid #8AA4E4;
    box-shadow: inset 0px 2px 2px -1px rgb(74 74 104 / 10%);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.checkbox-custom:after{
    left: 6px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
    position: absolute;
    border-radius: 3px;
    
}
.same-as-shipping-address input:checked ~ .checkbox-custom,
.login-info p > input:checked ~ .checkbox-custom,
.woocommerce-form .form-row .woocommerce-form__label-for-checkbox input:checked ~ .checkbox-custom{
	background: #8AA4E4;
}
 .login-info p > input:checked ~ .checkbox-custom:after,
 .same-as-shipping-address input:checked ~ .checkbox-custom:after,
.woocommerce-form .form-row .woocommerce-form__label-for-checkbox input:checked ~ .checkbox-custom:after{
	content: "";
}
.same-as-shipping-address,
.login-info p:first-child,
.woocommerce-form .form-row .woocommerce-form__label-for-checkbox{
    position: relative;
    padding-left: 30px;
}
.same-as-shipping-address input,
.login-info p > input,
.woocommerce-form .form-row .woocommerce-form__label-for-checkbox input{
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1;
    height: 100%;
}
.woocommerce-form .form-row .woocommerce-form__label-for-checkbox .checkbox-custom{
	margin-top:-7px;
}
.login-info h3{
	font-size: 24px;
	margin-top:65px;
}
body.woocommerce-account .register-btn button[type="submit"]{
	background:#8CCC0C!important;
	border: 2px solid #8CCC0C!important;
	padding:15px 106px!important;
	margin-top: 23px;
	cursor: pointer;
}
.register-btn{
	text-align: right;
}
.show-password-input{
	margin-right:0px!important;
}
.reg-btn-crtl {
    display: inline-block;
    margin-left: auto;
    text-align: center;
}
.payment-logo-crtl ul {
    display: flex;
}

.register-pay-logo-wrap h3 {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    padding-right: 14px;
    margin-bottom: 0px!important;
    color: #525A61;
}

.register-pay-logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ECE9E9;
}
.innerpage-con-wrap{
	overflow: hidden;
	position: relative;
	max-width: 985px;
	width: 100%;
	margin: 0 auto;
}
.register-pay-logo-wrap .payment-logo-crtl ul{
    padding-bottom: 0;
}
.register-pay-logo-wrap .payment-logo-crtl ul li{
	padding: 5px 0 8px 18px!important;
}
.register-btn .reg-btn-crtl {
    margin-bottom: 12px;
}
.reg-btn-crtl .html-text span {
    font-size: 12px;
}
#billing_email_field {
    border-top: 1px solid #ECE9E9;
    padding-top: 23px;
}


/* ------------------ woocommerce-cart ----------------------*/

.woocommerce-cart .innerpage-con-wrap{
	max-width: 100%;
}

.woocommerce-cart .innerpage-con-wrap .woocommerce{
	max-width: 600px;
	text-align: center;
	margin:0 auto;
	width:100%;
}

.woocommerce-cart .woocommerce .cart-is-emtpy strong{
	font-size:48px;
	color: #202020;
	font-family: Open Sans;
	display: inline-block;
	vertical-align: baseline;
	line-height: 1.2;
	margin-bottom:12px;
	letter-spacing: -0.02em;
}
.woocommerce-cart .woocommerce .cart-is-emtpy .cie-icon{
	margin-bottom:40px;
}
.woocommerce-cart .woocommerce .cart-is-emtpy p{
	color: #525A61;
	margin-bottom: 30px;
}
.woocommerce-cart .woocommerce .return-to-shop{
	margin-top:14px;
	margin-bottom:38px;
}

.woocommerce-cart .woocommerce .return-to-shop a{
	padding:16px 100px!important;
}






































@media(max-width:1199px){
	body.woocommerce-account .woocommerce input[type="text"],
	body.woocommerce-account .woocommerce input[type="email"], 
	body.woocommerce-account .woocommerce input[type="tel"],
	body.woocommerce-account .woocommerce input[type="password"],
	body.woocommerce-account .woocommerce textarea{
		height:40px;
	}
	body.woocommerce-account .woocommerce button[type=submit],
	body.woocommerce-account .woocommerce button[type=button]{
		padding:13px 60px!important;
	}


	/*  ----------------------------- my account reg page ------------------------- */
	body.woocommerce-account .register-btn button[type="submit"]{
		padding: 15px 106px!important;
	}

	/* ------------------- woocommerce-cart -------------------*/
	.woocommerce-cart .woocommerce .cart-is-emtpy strong{
		font-size:40px;
	}


	/*  --------------------- account-deshbord -------------------------*/
	.innerpage-con-wrap {
	    max-width: 890px;
	}
	.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li a{
		padding:12px 20px;
		font-size:15px;
	}




.woocommerce-orders .woocommerce-account-grds-cntlr .woocommerce-MyAccount-content{
    padding-left: 40px;
}

















}

@media(max-width: 992px){
	.woocommerce-account .register-title h3, 
	.login-info h3{
	    font-size: 21px;
	}
	/* ------------------- woocommerce-cart -------------------*/
	.woocommerce-cart .woocommerce .cart-is-emtpy strong{
		font-size:38px;
	}

	/* ----------------- account order -------------------*/
	.woocommerce-orders .myac-pro-grds .myac-pro-grd-item {
	    max-width: 100%;
	}
	.woocommerce-orders .myac-pro-grds{
		flex-wrap: wrap;
	}
	.woocommerce-orders .woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation {
	    padding-right:0px;
	}


	/* ------------------------ accound deshboard ----------------------*/
	.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li a {
	    padding: 10px 15px;
	    font-size: 14px;
	}

}

@media(max-width: 768px){
	body.woocommerce-account .woocommerce .u-columns{
		display: flex!important;
		flex-direction:column;
	}
	body.woocommerce-account .woocommerce .u-column1:nth-child(1){
		order:2;
		padding-top: 50px;
	} 
	body.woocommerce-account .woocommerce .u-column2:nth-child(2){
		order:1;
	}
	body.woocommerce-account .page-title{
		display: none;
	}
	body.woocommerce-account .woocommerce-form{
		margin:0;
		padding-bottom:32px;
		border-bottom: 1px solid #ECE9E9;
	}
	body.woocommerce-account .woocommerce-form{
		border-top:none;
		padding-top: 8px;
	}
	body.woocommerce-account .woocommerce input[type="text"], 
	body.woocommerce-account .woocommerce input[type="email"], 
	body.woocommerce-account .woocommerce input[type="tel"], 
	body.woocommerce-account .woocommerce input[type="password"], 
	body.woocommerce-account .woocommerce textarea{
		height:48px;
	}
	body.woocommerce-account .woocommerce form .show-password-input, 
	body.woocommerce-account .woocommerce-page form .show-password-input{
		top:50%!important;
		transform:translateY(-50%)!important;
		-ms-transform:translateY(-50%)!important;
		-webkit-transform:translateY(-50%)!important;
	}
	body.woocommerce-account .login-btm-wrap h2{
		font-size:26px;
	}
	body.woocommerce-account .login-info-crtl .login-info-inr{
		display: initial;
	}
	body.woocommerce-account .login-info-crtl .login-info-inr .loginInfoSlideItem{
		padding-bottom:0;
	}
	body.woocommerce-account .login-info-crtl{
		padding-bottom: 50px;
	}
	body.woocommerce-account .login-btm-wrap h2{
		margin-bottom: 20px;
	}
	body.woocommerce-account .login-btm-wrap{
		padding-top: 60px;
	}
	body.woocommerce-account .loginInfoItem {
	    padding-bottom: 10px;
	}


	/*  ----------------------------- my account reg page ------------------------- */
	.woocommerce-account .register-title h3, .login-info h3 {
	    font-size: 19px;
	}
	.woocommerce-input-wrapper span {
	    padding-left: 25px;
	}
	body.woocommerce-account .woocommerce form .form-row-first,
	body.woocommerce-account .woocommerce form .form-row-last, 
	body.woocommerce-account .woocommerce-page form .form-row-first,
	body.woocommerce-account .woocommerce-page form .form-row-last{
		width: 100%;
	}
	body.woocommerce-account .woocommerce form .form-row-first,
	body.woocommerce-account .woocommerce-page form .form-row-first{
		padding-right: 0px
	}

	body.woocommerce-account .woocommerce form .form-row-last, 
	body.woocommerce-account .woocommerce-page form .form-row-last{
		padding-left:0px;
	}

	.login-info h3{
	    margin-top: 35px;
	}
	.reg-btn-crtl {
	    max-width: 500px;
	    width: 100%;
	    margin: 0 auto;
	}
	.register-btn {
	    text-align: center;
	}

	.register-pay-logo-wrap .payment-title{
		display: none;
	}
	body.woocommerce-account .woocommerce form .form-row{
		padding-left: 0px;
		padding-right: 0px;
	}

	/* ------------------- woocommerce-cart -------------------*/
	.woocommerce-cart .woocommerce .cart-is-emtpy strong{
		font-size:32px;
	}
	.woocommerce-cart .woocommerce .return-to-shop a {
	    padding: 13px 80px!important;
	    font-size: 14px!important;
	}
	.woocommerce-cart .woocommerce .cart-is-emtpy .cie-icon img{
		max-width: 180px;
		height: auto;
	}
	.woocommerce-cart .woocommerce .cart-is-emtpy .cie-icon {
	    margin-bottom: 25px;
	}



	/* ------------------ account order -------------------*/

	.woocommerce-orders .woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation{
		display: none;
	}
	.woocommerce-orders .woocommerce-account-grds-cntlr .woocommerce-MyAccount-content{
		margin-left:auto;
		margin-right: auto;
	}
	.woocommerce-orders .myac-pro-grd-item .myac-pro-grd-item-inr{
		padding-top:15px;
	}
	.woocommerce-orders .myac-pro-grd-item-inr .myac-pro-grd-img{
		max-width:75px;
	}
	.woocommerce-orders .myac-pro-grd-item-inr .order-items-desc span{
		font-size:14px;
	}
	.woocommerce-orders .myac-pro-grd-item-inr .order-items-desc .product-price bdi{
		font-size: 14px;
	}
	.woocommerce-account-grds-cntlr{
	    margin-bottom: 40px;
	}
	.back-to-dashboard-btn-cntlr{
		background: #fff;
		margin-left: -15px;
	    margin-right: -15px;
	    text-align: center;
    	
	}
	.back-to-dashboard-btn-cntlr a{
	    
	    display: inline-block;
	    padding: 9px 0;
	    text-align: center;
	    padding-left: 15px;
	    
	}

	body.woocommerce-orders .account-page-title h1{
		border-bottom:none!important;
		padding-bottom:0!important;
	}
	.woocommerce-orders .orders-crtl .contact-info a.order-contact-btn{
		margin-bottom:0;
	}
	.woocommerce-orders .woocommerce-account-grds-cntlr .woocommerce-MyAccount-content{
		max-width: 500px;
		padding-left: 0px;
	}
	.woocommerce-orders .orders-crtl .code-text{
		font-size:18px;
	}






	/* ---------------------woocommerce-edit-account------------------------*/

	.woocommerce-edit-account .innerpage-con-wrap .woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation{
		display: none;
	}
	body.woocommerce-edit-account .account-page-title h1{
		display: none;
	}
	.woocommerce-edit-account .woocommerce-account-grds-cntlr .woocommerce-MyAccount-content{
		max-width:500px;
		margin-left: auto;
		margin-right: auto;
	}
	.woocommerce-account .woocommerce-EditAccountForm legend{
		font-size: 20px;
		margin-bottom:23px;
	}
	.woocommerce-edit-account .account-page-title div:first-child a{
		margin-bottom:0;
	}


	/* ---------------------- woocommerce-MyAccount-content --------------------------*/
	.loggedin-deshboard-crtl .woocommerce-MyAccount-content{
		display: none;
	}
	.loggedin-deshboard-crtl .woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation{
		max-width:100%;
		text-align:left;
	}
	.loggedin-deshboard-crtl .account-page-title{
		text-align: center;
		max-width: 500px;

		margin-left: auto;
		margin-right:auto;
	}
	.loggedin-deshboard-crtl .woocommerce-account-grds-cntlr{
		padding-top:10px;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation{
		margin-bottom: 6px;
	}
}

@media(max-width: 659px){
	
}

@media(max-width:575px){
	body.woocommerce-account .woocommerce button[type=submit], 
	body.woocommerce-account .woocommerce button[type=button]{
		width:100%;
		font-size: 12px!important;
	}
	body.woocommerce-account #customer_login .u-column1.col-1 > h2, 
	body.woocommerce-account #customer_login .u-column2.col-2 > h2{
		font-size:26px;
	}
	body.woocommerce-account .default-page-con{
		padding-top:0px;
	}
	body.woocommerce-account .woocommerce form .form-row label{
		font-size:14px;
	}
	body.woocommerce-account .login-btm-wrap h2{
		font-size:20px;
		margin-bottom: 19px;
	}
	body.woocommerce-account .login-btm-wrap{
		padding-top:35px;
	}
	body.woocommerce-account .login-btm-wrap{
		padding-top: 30px;
	}
	body.woocommerce-account .loginInfoItem {
	    padding-bottom:0px;
	}
	

	/*  ----------------------------- my account reg page ------------------------- */

	.woocommerce-account .register-title h3, .login-info h3 {
	    font-size: 16px;
	}
	.same-as-shipping-address, 
	.login-info p:first-child, 
	.woocommerce-form .form-row .woocommerce-form__label-for-checkbox{
		padding-left:25px;
	}


	/* ------------------- woocommerce-cart -------------------*/
	.woocommerce-cart .woocommerce .cart-is-emtpy strong{
		font-size:30px;
	}
	.woocommerce-cart .woocommerce .return-to-shop a{
	    padding: 12px 70px!important;
	    font-size:12px!important;
	}
	.woocommerce-cart .woocommerce .cart-is-emtpy .cie-icon img{
		max-width: 150px;
		height: auto;
	}
	/* --------------- order -----------------------*/
	


	/* --------------woocommerce-edit-account---------------*/
	.woocommerce-account .woocommerce-EditAccountForm legend{
		font-size: 20px;
	}
	/* --------------- account deshboard ----------------*/
	.loggedin-deshboard-crtl .account-page-title .loggedin-text{
		font-size: 12px
	}
	.woocommerce-account-grds-cntlr nav.woocommerce-MyAccount-navigation ul li a {
	    font-size: 12px;
	}
}


@media(max-width:479px){

	/* ------------------- woocommerce-cart -------------------*/
	.woocommerce-cart .woocommerce .cart-is-emtpy strong{
		font-size:26px;
	}
	
	.woocommerce-orders .faq-accordion-wrp ul li .orders-crtl .my-ac-time{
		font-size: 12px;
	}
	.woocommerce-orders .myac-pro-grd-item-inr .order-items-desc span{
		font-size:10px;
	}

	/* --------------woocommerce-edit-account---------------*/
	.woocommerce-account .woocommerce-EditAccountForm legend{
		font-size: 16px;
	}

}

@media(max-width:359px){

	
}
























/* Orders */
.myac-pro-grds {
    display: flex;
}
.myac-pro-grd-item-inr {
    display: flex;
}
.orders-list li {
    background: #fff;
    margin-bottom: 30px !important;
}
.order-details {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.orders-crtl {
    padding: 20px;
}
