
.fl-product .product.type-product:after,
.fl-product .product.type-produc:before{
	content: "";
	clear: both;
	display: table;
}

.main-img-crtl .woocommerce-product-gallery__image{
	height: 510px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
.main-img-crtl .woocommerce-product-gallery__image a{
	display: block;
}
.thumbnails-cntlr{
	position: relative;
	padding-right: 120px;
}
.thumbnails-cntlr span:hover{
	opacity: .7;
}
.main-img-crtl{
	margin: 0!important;
	margin-bottom: 20px!important;
}
.thumbnails-cntlr .thumbnails{
	margin: 0 -12px!important;
	padding: 0!important;
	margin-bottom: 40px!important;
}
.thumbnails-cntlr .thumb-bg{
	height: 135px;
	padding: 0 12px;
}
.thumbnails-cntlr .thumb-bg img{
	max-height: 135px;
	width: auto;
}
.thumbnails-cntlr .woocommerce-product-gallery__image{
	padding: 0 12px;
}
.thumbnails-cntlr .woocommerce-product-gallery__image .inline-bg{
	height: 135px;
}

.fl-singgle-pro-prev,
.fl-singgle-pro-next{
	width: 20px;
	height: 20px;
	text-indent: none;
	left: auto!important;
	right: 35px;
	position: absolute;
	cursor: pointer;
}
/*.thumbnails-cntlr .slick-arrow:before{
	content: none!important;
}*/

.fl-singgle-pro-prev{
	background: url(../images/next-arrow-gray.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	top: 24%;
	transform: translateY(24%);
}

.fl-singgle-pro-next{
	background: url(../images/prev-arrow-gray.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	top: 57%;
	transform: translateY(57%);
}

.custom-info-crtl ul{
	display: flex;
	flex-wrap: wrap;
}
.custom-info-crtl ul li{
	width: 50%;
	padding: 0 15px 0 80px;
	margin-bottom: 35px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #31304F;
}
.custom-info-crtl ul li.qnty{
	background: url(../images/pro-single-into-time-icon.svg);
	background-repeat: no-repeat;
}
.custom-info-crtl ul li.water-temp{
	background: url(../images/pro-single-water-temp-icon.svg);
	background-repeat: no-repeat;
}
.custom-info-crtl ul li.into-time{
	background: url(../images/pro-single-qnty-icon.svg);
	background-repeat: no-repeat;
}
.custom-info-crtl ul li span{
	display: block;
	 font-family: 'Bitter', serif;
	 font-weight: 400;
	 color: #525A61;
}

.woocommerce div.product div.summary{
	width: 51%!important;
	padding-left: 120px;
}
.woocommerce .fl-product div.product div.images{
	width: 49%;
}
.woocommerce div.product .product_title{

}

.long-desc{
	background-color: #31304F;
	padding: 50px 25px 30px 50px;
	color: #fff;
	margin-bottom: 35px;
}
.long-desc h2{
	font-size: 26px;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: #fff;
	margin-bottom: 15px;
}
.short-desc{
	padding-bottom: 15px;
}
.meta-crtl{
	font-weight: 700;
	color: #31304F;
	border-bottom: 1px solid #f1e8e1;
	margin-bottom: 40px;
}
.meta-crtl ul li{
	padding-bottom: 25px;
}
.meta-crtl ul li strong{
	font-weight: 400;
	margin-right: 20px;
	min-width: 100px;
	display: inline-block;
	vertical-align: baseline;
	color: #525A61;
}
.meta-crtl ul li a{
	color: #31304F;
}
.meta-crtl ul li > span{
	display: block;
}
.fl-product{
	overflow: hidden;
}
.fl-product .price-quentity-ctrl form .variations tbody tr td{
	width: 100%;
	display: block;
}
.fl-product .price-quentity-ctrl form .variations tbody tr td label{
	margin-bottom: 0;
	font-weight: 400!important;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td select{
	width: 100%!important;
	min-width: 100%!important;
	max-width: 100%!important;
	margin: 0!important;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td .bootstrap-select > .dropdown-toggle{
	background: #FFFFFF!important;
	border: 1px solid #F2EDE9;
	box-sizing: border-box;
	border-radius: 6px;
	color: #8c8da2!important;
	height: 50px!important;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td .bootstrap-select > .dropdown-toggle::before{
	right: 20px;
	color: #8e8ca2;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td  .bootstrap-select .dropdown-toggle .filter-option{
	padding-left: 20px!important;
	padding-right: 40px!important;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td  .bootstrap-select .dropdown-toggle .filter-option-inner{
	color: #8c8da2!important;
}

.cartbtn-wrap > strong{
	font-weight: 400!important;
	margin-bottom: 0!important;
}
.cart-btn-qty:after,
.cart-btn-qty:before{
	content: "";
	clear: both;
	display: table;
}
.cart-btn-qty{
	max-width: 170px;
	width: 100%;
}

.cart-btn-qty .quantity.qty{
	width: 100%;
	height: 40px;
	position: relative;
}
.cart-btn-qty .quantity.qty span{
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #31304F;
	color: #fff;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	cursor: pointer;
}

.cart-btn-qty .quantity.qty span.plus{
	left: auto;
	right: 0;
}

.cart-btn-qty .quantity.qty .quantity{
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	background: #FFFFFF;
	border: 1px solid #F2EDE9;
	box-sizing: border-box;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}
.cart-btn-qty .quantity.qty .quantity input{
	font-weight: 700;
	color: #31304F;
}
.quantity input[type=number]::-webkit-inner-spin-button, 
.quantity input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.related.products ul{
	display: flex;
	margin: 0 -12px;
}

.related.products ul li{
	width: 25%!important;
	padding: 0 12px 0!important;
	margin: 0!important;
}
.woocommerce .related.products li.first, .woocommerce-page ul.products li.first{
	clear: initial!important;
}

.single_variation_wrap:after,
.single_variation_wrap:before{
	content: "";
	display: table;
	clear: both;
}

body.single-product div.product form.cart .button{
	float: none!important;
	margin-left: 0!important;
	background: #8CCC0C!important;
	border-radius: 6px!important;
	border-color: #8CCC0C!important;
	height: 50px!important;
	max-width: 344px!important;
	width: 100%!important;
	position: relative;
	padding-left: 115px;
	text-align: left;
	justify-content: left;
	padding-top: 13px!important;
}
body.single-product div.product form.cart .button:before{
	content: "";
	position: absolute;
	left: 85px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/cart-icon-2.svg);
	width: 24px;
	height: 24px;
}
.related.products.related-pro-crtl{
	padding-top: 70px;
	border-top: 2px solid #f5f0ec;
	padding-bottom: 90px;
}
.related.products.related-pro-crtl h2{
	font-weight: 700;
	font-size: 36px;
	line-height: 30px;
	margin-bottom: 40px;
	text-align: center;
	color: #202020;
}

.summary-ctrl .qty-price-wrap{
	margin-bottom: 40px;
	padding-top: 40px;
	border-top: 1px solid #F1E8E1;
	margin-top: 40px;
}

span.onsale{
	position: absolute;
    width: 129px!important;
    height: 30px!important;
    background: #EC5387!important;
    color: #fff!important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px!important;
    line-height: 1!important;
    font-weight: 700!important;
    z-index: 11;
    right: 0!important;
    left: auto!important;
    top: 0;
    border-radius: 0!important;
}
body.single-product span.onsale{
	right: auto!important;
	left: 0!important;
}

body.single-product .added_to_cart.wc-forward,
body.single-product .xoo-cp-icon-check.xoo-cp-added{
	display: none;
}
@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {
	.woocommerce div.product div.summary {
	    width: 51%!important;
	    padding-left: 80px;
	}
	.long-desc {
	    padding: 40px 25px 30px 40px;
	}
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){


}

@media(max-width: 991px){

	
	
}

@media(max-width: 767px){


}

@media(max-width: 575px){

	

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}