.xoo-cp-container{
	max-width:950px;
	width: 100%;
}
.xoo-cp-active{
	background: rgba(252, 248, 248, 0.88)!important;
}
.xoo-cp-container{
	background:#fff;
}

.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-left-des{
	display: flex;
	align-items: center;
}
.xoo-cp-content .xoo-cp-pdetails-row{
	display: flex;
    flex-direction: row;
    min-height: 207px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECEEEF;
    border-top: 1px solid #ECEEEF;
}
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-pdetails-col-1,
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-pdetails-col-2{
	max-width: 50%;
	width: 100%
}
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-left-des .xoo-cp-pimg {
    width: 145px;
    height: auto;
}
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-left-des .xoo-cp-ptitle .popup-product-title a{
	font-size: 24px;
	color: #31304F;
}
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-left-des .xoo-cp-ptitle .popup-product-title span,
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-left-des .xoo-cp-ptitle .xoo-cp-variations{
	display: none;
}
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-left-des .xoo-cp-ptitle .qty-price-wrap .quantity{
	display: none;
}
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-left-des .xoo-cp-ptitle{
	padding-left: 30px!important;
	padding-right:0!important;
}
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-pdetails-col-2 .product-order-btn,
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-pdetails-col-2{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-pdetails-col-2 .product-order-btn a:first-child {
   background: none;
    border: none;
    color: #8AA4E4;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: Bitter;
    text-decoration: underline;
    width: initial;
    margin-right: 30px;
}

.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-pdetails-col-2 .product-order-btn{
	justify-content: flex-end;
}
.xoo-cp-content .xoo-cp-pdetails-row .xoo-cp-pdetails-col-2 .product-order-btn a {
    color: #fff;
    width: 212px;
    letter-spacing: 0.04em;
    display: flex;
}
.overlay-link{
	display: none;
}

.spotlight-popup-cntlr h5 {
    font-size: 26px;
    letter-spacing: -0.02em;
    color: #202020;
}

.spotlight-popup-cntlr {
    padding-top: 52px;
}

.flex-fill {
    padding: 0px 13px;
}
.pro-item-cntlr {
    border: 1px solid #F5F6F7;
    padding-top: 25px;
}
.spotlight-popup {
    margin: 0 -13px;
}
.pro-item-img {
    width: 164px;
    height: auto;
    margin: 0 auto;
}
.pro-item-desc .pro-item-descWrap .pro-item-desc-title a {
    font-size: 18px;
    color: #31304F;
    font-weight: 400;
    font-family: Bitter;
}

.pro-item-desc {
    text-align: center;
}
.product-quantity .product-order-btn a {
    background: transparent;
    color: #31304F;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 14px;
    width: 160px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #31304F;
    text-decoration: none;
}
.product-quantity a{
	color: #8AA4E4;
	font-size: 14px;
	text-decoration-line: underline;
	font-family: Bitter;
}