body.woocommerce-cart .page-title h1{
	padding-bottom: 28px;
	border-bottom: 1px solid #F1E8E1;
	margin-bottom: 45px;
}
.cart-crtl{
	display: flex;
	flex-wrap: wrap;
}
.cart-crtl .cart-table-crtl{
	width: 66.32%;
}
.cart-crtl .cart-total-crtl{
	width: 33.68%;
}
.cart-crtl .cart-total-crtl .shop_table tr:not(.giftcard) td *{
	color: #525A61!important;
}
.cart-crtl .cart-total-crtl .shop_table tr.cart-total-crtl td *{
	font-weight: 700;
	color: #31304F!important;
}
body.woocommerce-cart .woocommerce table.shop_table{
	border: none;
}
body.woocommerce-cart .cart_totals{
	width: 100%!important;
	padding-left: 140px;
}
.cart-crtl .cart-table-crtl table tr th{
	padding-bottom: 22px;
}
.cart-crtl .cart-table-crtl table tr th:first-child,
.cart-crtl .cart-table-crtl table tr td:first-child{
	padding-left: 0;
}
.cart-crtl .cart-table-crtl table tr th:last-child,
.cart-crtl .cart-table-crtl table tr td:last-child{
	padding-right: 0;
}
body.woocommerce-cart .product-thumbnail{
	display: flex;
	align-items: center;

}
body.woocommerce-cart .product-thumbnail a{
	display: inline-block;
}
body.woocommerce-cart .product-thumbnail .product-name{
	padding-left: 28px;
}
body.woocommerce-cart .product-quantity {

}
body.woocommerce-cart .product-quantity .quantity{
	display: flex;
	align-items: center;
}
body.woocommerce-cart .product-quantity .quantity.qty span,
body.woocommerce-cart .product-quantity .quantity.qty1 span{
	height: 16px;
	width: 20px;
	color: #fff;
	background: #31304F;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	position: relative;
	z-index: 5;
	cursor: pointer;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	padding:0;
}
body.woocommerce-cart .product-quantity .quantity a:hover,
body.woocommerce-cart .product-quantity .quantity a:hover{
	background: #EC5387;
}
body.woocommerce-cart .product-quantity .quantity input{
	background: transparent;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	width:33px;
}
.sidebar-widget .woocommerce-widget-layered-nav-list .radio-btn a{
	position: relative;
}
.sidebar-widget .woocommerce-widget-layered-nav-list .radio-btn a:after{
	content:""!important;
    height: 18px!important;
    position: absolute!important;
    width: 18px!important;
    border-radius: 50%!important;
    border: 1px solid #BFBFBF!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    top: 50%!important;
    left: 0!important;
    transform: translateY(-50%)!important;
    -ms-transform: translateY(-50%)!important;
    -webkit-transform: translateY(-50%)!important;
    margin-top: -1px!important;
}
.sidebar-widget .woocommerce-widget-layered-nav-list .radio-btn.chosen a:after{
	border-color:#8aa4e4!important;
}
.sidebar-widget .woocommerce-widget-layered-nav-list .radio-btn a:before{
	border:none!important;
}
.sidebar-widget .woocommerce-widget-layered-nav-list .radio-btn.woocommerce-widget-layered-nav-list__item--chosen.chosen a:before{
    content: ""!important;
    position: absolute;
    width: 10px!important;
    height: 10px!important;
    background: #8aa4e4!important;
    border-radius: 50%!important;
    left: 4px!important;
    top: 5px!important;
}

body.woocommerce-cart .woocommerce table.shop_table td{
	border: none;
}
body.woocommerce-cart .woocommerce a.remove{
	text-align: right!important;
	float: right!important;
	height: initial!important;
	width: initial!important;
	background-image: url(../images/cart-crose-icon.svg);
	background-repeat: no-repeat;
	line-height: 0.6;
	border-radius: initial!important;
	color: transparent!important;
	display: flex;
	align-items: center;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
body.woocommerce-cart .woocommerce a.remove:hover{
	background: url(../images/cart-crose-icon-red.svg);
	background-repeat: no-repeat;
	line-height: 0.6;
	border-radius: initial!important;
	color: transparent!important;
	display: flex;
	align-items: center;
	text-align: right!important;
	float: right!important;
	height: initial!important;
	width: initial!important;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
body.woocommerce-cart table.shop_table tbody tr td{
	padding-bottom: 15px!important;
	padding-top: 15px!important;
}
body.woocommerce-cart.woocommerce-page table.cart img{
	height: 80px;
}
body.woocommerce-cart .product-thumbnail{
	padding-top: 0!important;
	padding-bottom: 0!important;
}
body.woocommerce-cart .empty-cart-btn{
	text-align: right;
}
body.woocommerce-cart .empty-cart-btn a{
	
	color: #8AA4E4;
	text-decoration: underline;
}
body.woocommerce-cart .empty-cart-btn a:hover,
body.woocommerce-cart .add-more-product a:hover{
	color: #EC5387;
}
body.woocommerce-cart table.shop_table tbody tr td.actions{
	display: none;
}
body.woocommerce-cart .cart-table-crtl table.shop_table{
	margin-bottom: 42px;
	border-bottom: 1px solid #F1E8E1!important;
	padding-bottom: 25px;
}

body.woocommerce-cart .cart_totals h2{
	margin-bottom: 30px;
}
body.woocommerce-cart .cart_totals tbody tr th:first-child{
	padding-left: 0;
	border-bottom: 0!important;
	border-top: 0!important;
}
body.woocommerce-cart .cart_totals tbody tr th{
	padding-top: 15px!important;
	padding-bottom: 15px!important;
	font-weight: 400!important;
}
body.woocommerce-cart .cart_totals table.shop_table{
	margin-bottom: 20px;
}
body.woocommerce-cart .cart_totals .woocommerce-Price-amount bdi{
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
body.woocommerce-cart .cart_totals table tr.order-total .woocommerce-Price-amount bdi{
	font-weight: 700!important;
	color: #31304F;
}
body.woocommerce-cart .cart_totals tbody tr td:last-child{
	padding-right: 0;
	text-align: right;
}
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout .woocommerce-coupon-form .coupon{
	padding-bottom: 35px;
	margin-bottom: 35px;
	border-bottom: 1px solid #ECE9E9;
	text-align: right;
}
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout .woocommerce-coupon-form .coupon #coupon_code{
	border: 1px solid #f2ede9!important;
	border-radius: 6px!important;
	outline: 0!important;
	height: 48px;
	margin-bottom: 20px;
}
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout .woocommerce-coupon-form .coupon #coupon_code + button {
    max-width: 141px;
    margin-left: 0;
    display: inline-block;
    background: transparent!important;
    border: 1px solid #31304F!important;
    color: #31304F!important;
    box-sizing: border-box;
    border-radius: 6px;
}
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout .woocommerce-coupon-form .coupon #coupon_code + button:hover{
    background: #31304F!important;
    color: #fff!important;
    background: #EC5387!important;
    color: #fff!important;
    border-color: #EC5387!important;
}
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout #pwgc-redeem-form #pwgc-redeem-gift-card-container input[type=text]{
	width: 100%;
}
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout #pwgc-redeem-form #pwgc-redeem-gift-card-container input[type=submit] {
    margin-top: 20px;
    margin-left: 0!important;
    width: 100%;
    padding: 10px 50px 10px 50px!important;
    margin-left: auto!important;
    background: transparent!important;
    color: #31304F!important;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    width: 181px;
    justify-content: center;
}
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button{
	background: #8dcc0c!important;
	border-color: #8dcc0c!important;
	padding: 15px!important;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button:hover,
body.woocommerce-cart .cart_totals .wc-proceed-to-checkout .woocommerce-coupon-form .coupon button:hover{
	border-color: #EC5387!important;
	background: #EC5387!important;
	color: #fff!important;

}
body.woocommerce-cart .add-more-product a{
    color: #78797B;
    position: relative;
    padding-left: 24px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
body.woocommerce-cart .add-more-product{
	text-align: right;
}
body.woocommerce-cart .add-more-product a:after{
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 12px;
	width: 12px;
	background-image: url('../images/left-arrow-icon.svg');
	background-repeat: no-repeat;
}
body.woocommerce-cart.woocommerce-page table.shop_table th{
	font-weight: 400;
}
body.woocommerce-cart.woocommerce-page .woocommerce-Price-currencySymbol{
	margin-right: 0;
}
body.woocommerce-cart.woocommerce-page .product-price del *{
	font-size: 14px;
	font-weight: 400;
}
body.woocommerce-cart.woocommerce-page .product-price ins *{
	font-size: 16px;
	font-weight: 500;
}
body.woocommerce-cart.woocommerce-page .product-name a{
	font-size: 18px;
	font-weight: 400;
}
body.woocommerce-cart.woocommerce-page table.shop_table th.product-name strong,
body.woocommerce-cart.woocommerce-page .woocommerce .cart_totals > h2{
	font-size: 26px;
	font-weight: 700;
	color: #202020;
}
body.woocommerce-cart.woocommerce-page .cart-total-crtl .cart_totals table.shop_table_responsive th{
	width: 50%;
}
body.woocommerce-cart.woocommerce-page .product-price .woocommerce-Price-amount.amount bdi,
body.woocommerce-cart.woocommerce-page .product-price .woocommerce-Price-amount.amount bdi span{
	color: #31304F;
	font-weight: 500!important;
	font-size: 14px;
}
body.woocommerce-cart.woocommerce-page .product-price del bdi,
body.woocommerce-cart.woocommerce-page .product-price del bdi span{
	font-size: 12px!important;
}
body.woocommerce-cart.woocommerce-page .product-price .woocommerce-price-suffix{
	font-size: 10px!important;
}
body.woocommerce-cart.woocommerce-page .product-price > del,
body.woocommerce-cart.woocommerce-page .product-price > ins{
	position: relative;
	top: 2px;
}
body.woocommerce-cart.woocommerce-page .product-price > small{
	position: relative;
	top: 2px;
} 
/**
Empty cart
*/
.cart-is-emtpy{
	padding-top: 70px;
}
.cart-is-emtpy,
.cart-is-emtpy + .return-to-shop{
	text-align: center;
}
.cart-is-emtpy strong{
	display: block;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 30px;
	color: #202020;
	margin-top: 48px;
	margin-bottom: 24px;
}
.cart-is-emtpy p{
	color: #525A61;
}
.cart-is-emtpy + .return-to-shop a {
    display: inline-block;
    height: 50px;
    text-align: center;
    margin: 0;
    line-height: 47px;
    padding: 0 30px;
    width: 342px;
}
.empty-cart .page-title{
	display: none;
}


body.woocommerce-cart.woocommerce-page .woocommerce-shipping-totals.shipping{
	display: none;
}
/**
Cart gift cart
*/
/*body.woocommerce-cart.woocommerce-page .cart-total-crtl .cart_totals table.shop_table_responsive {
    border-bottom: 1px solid #ECE9E9!important;
    border-radius: 0!important;
}*/
body.woocommerce-cart.woocommerce-page #pwgc-redeem-gift-card-container{
	margin: 0;
}
body.woocommerce-cart.woocommerce-page #pwgc-redeem-gift-card-form{
	padding-bottom: 37px;
	margin-bottom: 34px;
    border-bottom: 1px solid #ECE9E9!important;
    border-radius: 0!important;
}

/**
Cart checkout normal giftcart
*/
body.woocommerce-page .yith-giftcard{
	display: block;
}
body.woocommerce-page .woocommerce-error{
	margin-bottom: 30px;
}
body.woocommerce-page .ywgc_have_code{
	margin-bottom: 20px;
}
body.woocommerce-page .ywgc_have_code + .ywgc_enter_code {
    margin: 0 0 20px;
    padding-top: 0;
    background: transparent;
}
body.woocommerce-page .ywgc_have_code + .ywgc_enter_code input {
    border-radius: 0;
    margin-bottom: 5px;
}
body.woocommerce-page .ywgc_have_code + .ywgc_enter_code p{
	margin-bottom: 10px;
}
body.woocommerce-page .ywgc_have_code + .ywgc_enter_code .form-row{
	width: 100%;
	display: block;
}
body.woocommerce-page .ywgc_have_code + .ywgc_enter_code .form-row button{
	margin-left: 0;
}
body.woocommerce-page .ywgc_have_code + .ywgc_enter_code > div {
    max-width: 450px;
}
body.woocommerce-page.woocommerce-checkout .ywgc_have_code{
	display: none;
}
body.woocommerce-page.woocommerce-checkout .ywgc_enter_code{
	background: transparent;
	padding: 0;
	margin: 0;
}
body.woocommerce-page.woocommerce-checkout .ywgc_enter_code > div{
	margin: 0;
}
body.woocommerce-cart.woocommerce-page .woocommerce-notices-wrapper + .ywgc_have_code{
	margin: 0;
}
body.woocommerce-page.woocommerce-checkout .woocommerce-NoticeGroup-checkout .woocommerce-error{
	margin-top: -30px;
}
/*responsive */
@media(max-width: 1599px){
	body.woocommerce-cart .cart_totals{
		padding-left: 80px;
	}
}
@media(max-width: 1199px){
	body.woocommerce-cart .cart_totals{
		padding-left: 60px;
	}
}
@media(max-width: 991px){
	.cart-crtl .cart-table-crtl{
		width: 100%;
	}
	.cart-crtl .cart-total-crtl{
		width: 100%;
	}
	body.woocommerce-cart .cart_totals{
		padding-left: 0;
	}
}
@media(max-width: 768px){
	body.woocommerce-cart .innerpage-con-wrap .default-page-con{
		padding-top: 0!important;
		padding-bottom: 45!important;
	}
	body.woocommerce-cart .page-title{
		margin-top: 0!important;
	}
	body.woocommerce-cart .page-title h1 {
		padding-bottom: 14px;
		margin-bottom: 26px;
	}
	body.woocommerce-cart .cart-table-crtl .product-thumbnail{
		display: block!important;
	}
	body.woocommerce-cart .cart-table-crtl table.shop_table tbody tr{
		display: flex!important;
		flex-wrap: wrap!important;
		padding-left: 105px;
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	body.woocommerce-cart .cart-table-crtl table.shop_table tbody tr:last-child{
		display: none!important;
	}
	body.woocommerce-cart .cart-table-crtl table.shop_table tbody tr td{
		width: 100%;
		padding-top: 3px!important;
		padding-bottom: 3px!important;
		padding-right: 0!important;
		text-align: left!important;
	}
	body.woocommerce-cart .cart-table-crtl .product-thumbnail:before,
		body.woocommerce-cart .cart-table-crtl table.shop_table tbody tr td:before{
		content: none!important;
		display: none!important;
	}
	body.woocommerce-cart .cart-table-crtl .product-thumbnail > a{
		position: absolute;
		top: 10px;
		left: 0;
	}
	body.woocommerce-cart .product-thumbnail .product-name,
	body.woocommerce-cart .cart-table-crtl table.shop_table tbody tr td{
		padding-left: 0!important;
	}
	body.woocommerce-cart .cart-table-crtl table.shop_table tbody tr td.product-remove > a {
	    position: absolute;
	    bottom: 22px;
	    left: auto;
	    right: 0;
	    z-index: 10!important;
	    height: 14px!important;
	    width: 12px!important;
	}
	body.woocommerce-cart .cart-table-crtl table.shop_table{
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none!important;
	}
	body.woocommerce-cart .empty-cart-btn{
		padding-bottom: 17px;
		border-bottom: 1px solid #F1E8E1!important;
	}
	.cart-crtl div.cart-total-crtl{
		padding: 0;
		padding-top: 23px;
	}
	body.woocommerce-cart .cart_totals h2{
		display: none!important;
	}
	body.woocommerce-cart .cart-total-crtl table tbody tr td{
		padding: 5px 0!important;
	}
	body.woocommerce-cart table.shop_table_responsive tr:nth-child(2n) td, 
	body.woocommerce-cart table.shop_table_responsive tr:nth-child(2n) td{
		background: transparent!important;
	}
	body.woocommerce-cart .add-more-product {
	    margin-bottom: 40px;
	}
	.cart-crtl{
		padding-left: 15px;
		padding-right: 15px;
	}
	body.woocommerce-cart .cart-collaterals .giftcard td:before{
		display: none;
	}
	.cart-crtl .cart-total-crtl .shop_table tr:not(.giftcard) td:before {
	    font-weight: 400;
	    float: left;
	    font-size: 14px;
	}
	body.woocommerce-page.woocommerce-checkout  .default-page-con{
		padding-top: 0;
	}
	.checkout-page-title .checkoutpt-left{
	    float: left;
	    width: 100%;
	}
	.checkout-page-title .checkoutpt-right{
	    float: right;
	    width: 100%;
	}
}
@media(max-width: 575px){
	body.woocommerce-cart.woocommerce-page .product-name a{
		font-size: 16px;
	}
	body.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button{
	    
	}
}
@media(max-width: 479px){
	body.woocommerce-cart .innerpage-con-wrap .default-page-con {
		padding-top: 0!important;
		padding-bottom: 40!important;
	}
	body.woocommerce-cart .cart_totals .wc-proceed-to-checkout a.checkout-button {
        height: 40px;
        padding: 6px 15px 5px!important;
        display: flex;
        font-size: 12px!important;
        align-items: center;
        justify-content: center;
    }
    body.woocommerce-cart .cart_totals .wc-proceed-to-checkout .woocommerce-coupon-form .coupon #coupon_code + button {
        max-width: 150px;
        margin-left: 0;
        height: 32px;
        font-size: 12px!important;
    }
}
