body.woocommerce-cart .page-title h1{
	padding-bottom: 28px;
	border-bottom: 1px solid #F1E8E1;
	margin-bottom: 45px;
}
.cart-crtl{
	display: flex;
	flex-wrap: wrap;
}
.cart-crtl .cart-table-crtl{
	width: 66.32%;
}
.cart-crtl .cart-total-crtl{
	width: 33.68%;
}
body.woocommerce-cart .woocommerce table.shop_table{
	border: none;
}
body.woocommerce-cart .cart_totals{
	width: 100%!important;
	padding-left: 140px;
}
body.woocommerce-cart .product-thumbnail{
	display: flex;
	align-items: center;
}
body.woocommerce-cart .product-thumbnail a{
	display: inline-block;
}
body.woocommerce-cart .product-thumbnail .product-name{
	padding-left: 28px;
}

body.woocommerce-cart .product-quantity {

}
body.woocommerce-cart .product-quantity .quantity.qty{
	display: flex;
	align-items: center;
}
body.woocommerce-cart .product-quantity .quantity.qty .minus,
body.woocommerce-cart .product-quantity .quantity.qty .plus{
	height: 16px;
	width: 20px;
	color: #fff;
	background: #31304F;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}
body.woocommerce-cart .product-quantity .quantity.qty .quantity input{
	background: transparent;
}